.choise-cream
  padding-top 50px
  padding-bottom 100px


.section-title
  font-family 'Merriweather Bold',sans-serif
  font-size 36px
  text-align center
  color #283037
  margin-bottom 15px

.section-text
  font-family 'Roboto 400',sans-serif
  font-size 16px
  color #283037
  opacity 0.6
  text-align center
  margin-bottom 30px

.choise-cream-modal
  position relative
  top 55px
  display none
  z-index 99
  .icon
    width 70px !important
    height 70px !important
    fill #FAACA8
    margin-bottom 16px
.choise-cream-modal-flower
  position: relative;
  background-color #fff
  text-align center
  width 100%
  max-width 370px
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding 40px
  &:before
    content ''
    position absolute
    background-image url("/static/img/content/flower.png")
    background-size: contain;
    width: 220px;
    height: 286px;
    z-index: -1;
    right: -78px;
    background-repeat: no-repeat;
    top: -55px;
.choise-cream-modal-text
  font-family 'Merriweather Bold'
  font-size 16px
  color: #283037
  margin-bottom 40px


.choise-cream-girl-menu--icon
  background-color #283037
  size(33px)
  position absolute
  display flex
  align-items center
  justify-content center
  border-radius 50%
  transition all linear .2s

.choise-cream-girl-menu--icon--wrap
  position relative
  size(33px)
  margin-right 15px
  box-shadow 0px 0px 0px 4px #E9EAEB
  border-radius 50%
.choise-cream-girl-menu--link
  display flex
  align-items center
  position relative
  text-decoration none
  margin-bottom 20px
  &:hover
    text-decoration none
    .choise-cream-girl-menu--icon
      background-color #FAACA8

    .icon
      fill #000
  .icon
    fill #fff
    width 22px !important
    height 22px !important
    transition all linear .2s

.choise-cream-girl-menu--name
  font-family: 'Merriweather Bold',sans-serif
  font-size: 14px;
  color #283037

.choise-hail-list
  display none
  position absolute
  left: 25.5%;
  top: 8%;

.choise-hail-list:before
  content ''
  position absolute
  background-image url("/static/img/general/line-hair.png")
  background-size contain
  background-repeat no-repeat
  width: 140%;
  height: 100%;
  bottom: 0px;
  left: 0;
  background-position: bottom;

.choise-hail-list:after
  content ''
  position absolute
  background-color #FAACA8
  size(18px)
  border-radius 50%
  box-shadow 0px 0px 0px 3px rgba(250, 172, 168, 0.30)
  right: -97px;
  top: 88px;


.choise-cream-girl-menu--list:before
  z-index -1
.choise-cream-girl-menu--list:after
  pointer-events none
.choise-body-list
  display none
  position absolute
  left: 15%;
  top: 10%;

.choise-body-list:before
  content ''
  position absolute
  background-image url("/static/img/general/line-body.png")
  background-size contain
  background-repeat no-repeat
  width: 215%;
  height: 100%;
  bottom: 0px;
  left: 0;
  background-position: bottom;

.choise-body-list:after
  content ''
  position absolute
  background-color #FAACA8
  size(18px)
  border-radius 50%
  box-shadow 0px 0px 0px 3px rgba(250, 172, 168, 0.30)
  right: -258px;
  bottom: 64px;


.choise-face-list
  display none
  position absolute
  left: 21.7%;
  top: 5%;

.choise-face-list:before
  content ''
  position absolute
  background-image url("/static/img/general/line-face.png")
  background-size contain
  background-repeat no-repeat
  width: 160%;
  height: 100%;
  bottom: 0px;
  left: 0;
  background-position: bottom;

.choise-face-list:after
  content ''
  position absolute
  background-color #FAACA8
  size(18px)
  border-radius 50%
  box-shadow 0px 0px 0px 3px rgba(250, 172, 168, 0.30)
  right: -137px;
  bottom: 95px;


.choise-hand-list
  display none
  position absolute
  left: 12%;
  top 40px

.choise-hand-list:before
  content ''
  position absolute
  background-image url("/static/img/general/line-hand.png")
  background-size contain
  background-repeat no-repeat
  width: 150%;
  height: 100%;
  bottom: -70px;
  left: 0;
  background-position: bottom;

.choise-hand-list:after
  content ''
  position absolute
  background-color #FAACA8
  size(18px)
  border-radius 50%
  box-shadow 0px 0px 0px 3px rgba(250, 172, 168, 0.30)
  right: -117px;
  bottom: -80px;

.choise-leg-list
  display none
  position absolute
  left: 1.5%;
  top 190px

.choise-leg-list:before
  content ''
  position absolute
  background-image url("/static/img/general/line-leg.png")
  background-size contain
  background-repeat no-repeat
  width: 140%;
  height: 100%;
  bottom: -60px;
  left: 0;
  background-position: bottom;

.choise-leg-list:after
  content ''
  position absolute
  background-color #FAACA8
  size(18px)
  border-radius 50%
  box-shadow 0px 0px 0px 3px rgba(250, 172, 168, 0.30)
  right: -95px;
  bottom: -70px;



.choise-data-tab.clicked
  opacity 0.5 !important






