#modal-recommend.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal-register' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .popup-body
                p Рекомендации по уходу за комбинированной кожей
                ul.recommend-list-popup
                    li.recommend-item-popup Тщательно очищайе кожу перед нанесением средств по уходу за лицом.
                    li.recommend-item-popup Для умывания используй теплую воду (не горячую и не холодную).
                    li.recommend-item-popup Регулярно используй увлажняющие средства (небольшого количества размером с горошину вполне достаточно).
                    li.recommend-item-popup Используй средства, разработанные специально для комбинированной кожи.
                .harmonika-button-pinkblack.harmonica-center.w-200.close Понятно

