#modal-register.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal-register' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        form.modal-content
            .popup-header
                button.close.popup-close(type='button' data-dismiss='modal' aria-label='Close')
                    +icon('modal-close')
                h3.popup-title Регистрация
            .popup-body
                .popup-inputs--wrap
                    .popup-inputs--item
                        label Телефон:
                        input.popup-input.mask-phone(type="text" placeholder="+7 ...")
                    .popup-inputs--item
                        label Вид аккаунта:
                        select.test
                            option(value="Юридическое лицо") Юридическое лицо
                            option(value="Физическое лицо") Физическое лицо
            .popup-footer
                button.harmonika-button-pinkblack.w-230(type="submit") Регистрация
                .popup-have-acc
                    span Уже есть аккаунт?
                    a.login-acc(data-toggle="modal" data-target="#modal-auth") Войдите
