#modal-popup-hair.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal-register' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .popup-header.popup-svg-girl-header
                button.close.popup-close(type='button' data-dismiss='modal' aria-label='Close')
                    +icon('modal-close')

            .popup-body.popup-svg-girl-body
                .choise-cream-girl-menu--wrap.choise-cream-girl-menu--wrap--mobile
                    ul.choise-cream-girl-menu--list.choise-hail-list.hair
                        a.choise-cream-girl-menu--link(href="/")
                            .choise-cream-girl-menu--icon--wrap
                                .choise-cream-girl-menu--icon
                                    +icon('suh')
                            span.choise-cream-girl-menu--name Сухая
                        a.choise-cream-girl-menu--link(href="/")
                            .choise-cream-girl-menu--icon--wrap
                                .choise-cream-girl-menu--icon
                                    +icon('jir')
                            span.choise-cream-girl-menu--name Жирная кожа
                        a.choise-cream-girl-menu--link(href="/")
                            .choise-cream-girl-menu--icon--wrap
                                .choise-cream-girl-menu--icon
                                    +icon('facee')
                            span.choise-cream-girl-menu--name Нормальная кожа
                        a.choise-cream-girl-menu--link(href="/")
                            .choise-cream-girl-menu--icon--wrap
                                .choise-cream-girl-menu--icon
                                    +icon('hair-re')
                            span.choise-cream-girl-menu--name Проблемная кожа
                        a.choise-cream-girl-menu--link(href="/")
                            .choise-cream-girl-menu--icon--wrap
                                .choise-cream-girl-menu--icon
                                    +icon('facial-tre')
                            span.choise-cream-girl-menu--name Чувствительная кожа

