footer
    .footer-top-wrap
        .container
            .footer-top
                .col-lg-5.footer-contact
                    a(href="tel:89991234567") 8 (999) 123 45 67
                    a(href="mailto:Info@lobarel.com") Info@lobarel.com
                a.col-lg-2.footer-logo(href="/")
                    +icon('logo')
                ul.col-lg-5.footer-social
                    a(href="/")
                        +icon('facebook')
                    a(href="/")
                        +icon('instagram')
                    a(href="/")
                        +icon('twitter')
                    a(href="/")
                        +icon('whatsapp')
    .container
        .footer-bottom
            ul.col-lg-10.footer-bottom-list
                a.footer-bottom-item(href="/") Купить крем
                a.footer-bottom-item(href="/") Состав
                a.footer-bottom-item(href="/") Отзывы
                a.footer-bottom-item(href="/") Сравнение
                a.footer-bottom-item(href="/") Контакты
            ul.col-lg-5.footer-social.footer-social2
                a(href="/")
                    +icon('facebook')
                a(href="/")
                    +icon('instagram')
                a(href="/")
                    +icon('twitter')
                a(href="/")
                    +icon('whatsapp')
    .footer-copyright
        .container
            .footer-copy-info © 2020 Lobarel’.ru Все права защищены.
    include ../modules/popup/popup-register
    include ../modules/popup/popup-auth
    include ../modules/popup/popup-review
    include ../modules/popup/popup-recommend
    include ../modules/popup/popup-modal-hair
    include ../modules/popup/popup-modal-face
    include ../modules/popup/popup-modal-hand
    include ../modules/popup/popup-modal-leg
    include ../modules/popup/popup-modal-body
