extends ../layout/catalog

block variables
    - var title = 'Каталог'
    - var pageClass = 'catalog main-page'

block content
    include ../modules/breadcrumbs
    include catalog/section-1
    include main-product/section-14
    include main-product/section-15