extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page main-page only-main-page'

block content
	include index/section-1
	include index/section-2
	include index/section-3