extends ../layout/main

block variables
    - var title = 'Мои желания'
    - var pageClass = 'my-favourite--page main-page'

block content
    include ../modules/breadcrumbs
    include my-favourite/section-1
    include main-product/section-14