extends ../layout/main

block variables
    - var title = 'Мой профиль Физ.лицо'
    - var pageClass = 'order-page main-page'

block content
    include ../modules/breadcrumbs
    include my-room-fiz/section-1