extends ../layout/main

block variables
    - var title = 'Мой профиль Юр.лицо'
    - var pageClass = 'order-page main-page'

block content
    include ../modules/breadcrumbs
    include my-room-ur/section-1