extends ../layout/main

block variables
    - var title = 'Мои заказы'
    - var pageClass = 'order-page main-page'

block content
    include ../modules/breadcrumbs
    include my-room-offer/section-1