extends ../layout/main

block variables
    - var title = 'Все заказы'
    - var pageClass = 'order-page main-page'

block content
    include ../modules/breadcrumbs
    include my-room-all-orders/section-1