extends ../layout/main

block variables
    - var title = 'Мои подписки'
    - var pageClass = 'order-page main-page'

block content
    include ../modules/breadcrumbs
    include my-room-subs/section-1