extends ../layout/long-page

block variables
    - var title = 'Главная товара'
    - var pageClass = 'main-product-page'

block content
    include main-product/section-1
    include main-product/section-2
    include main-product/section-3
    include main-product/section-4
    include main-product/section-5
    include main-product/section-6
    include main-product/section-7
    include main-product/section-8
    include main-product/section-9
    include main-product/section-10
    include index/section-3
    include main-product/section-12
    include main-product/section-13
    include main-product/section-14
    include main-product/section-15
