.harmonika-buttons
  display flex
  align-items center
  justify-content center

.harmonika-button-pinkblack
  display flex
  align-items center
  justify-content center
  width 100%
  font-family 'Merriweather Bold',sans-serif
  font-size 13px
  color #fff
  height 45px
  border-bottom 2px solid #FAACA8
  background-color #283037
  text-transform uppercase
  text-align center
  text-decoration none
  cursor pointer

  &:hover
    text-decoration none
    color #fff

.harmonika-button-gray
  display flex
  align-items center
  justify-content center
  width 100%
  font-family 'Merriweather Bold',sans-serif
  font-size 13px
  color #283037
  opacity 0.4
  height 47px
  background-color #d0d0d0;
  text-transform uppercase
  text-align center
  text-decoration none
  cursor pointer

  &:hover
    text-decoration none
    color #283037

.m-0-auto
  margin 0 auto
.button-270w
  max-width 270px

.button-170w
  max-width 170px

.mrh-30
  margin-right 30px

.preorder-buttons-form .harmonika-button-gray
  border none