.test-radio-year
  font-family 'Merriweather Italic',sans-serif
  font-size 18px
  color #283037
  margin-bottom 22px

.test--wrapper--cream
  display flex
  margin 0 -15px

.test-radio-inputs
  display: flex;
  flex-direction: column;
  width 100%

.fs-13
  font-size 13px

.test_defect
  margin 0 -15px

.test-defect
  margin-bottom 60px

.test-defect-padding
  padding 15px 10px

.test-skin--text
  font-family 'Open Sans 400',sans-serif
  font-size 14px
  color rgba(40, 48, 55, 0.61)
  margin-bottom 15px

.test-skin-block-img
  background-repeat no-repeat
  background-size contain
  height: 367px;
  width: 100%;
  background-position: right;

.test-skin
  display flex
.test-page
  margin-bottom: 100px
.img-slider-podoidut
  background-repeat no-repeat
  background-size contain
  width 100%
  height 100%
  min-height 130px
  background-position center
  margin-bottom 25px
  position relative

.vam-popdoidut
  background-color #283037
  padding 40px 0
  padding-bottom 80px

.slider-title
  font-family 'Merriweather Bold',sans-serif
  font-size 24px
  color #fff

.js-controls-and-title
  display flex
  justify-content space-between
  margin-bottom 40px


.js-slider-podoidut
  position relative
  z-index 1

.js-slider-podoidut-z
  display flex
  background-color #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding 30px 0
  position relative
  padding-bottom 0


  &:after
    content ''
    position absolute
    right -15px
    bottom -15px
    z-index -2
    width 100%
    height 100%
    background-color: #E9EAEB;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

  &:before
    content: '';
    position: absolute;
    background-image: url(/static/img/content/flower.png);
    background-size: contain;
    width: 340px;
    height: 100%;
    z-index: -1;
    right: -132px;
    background-repeat: no-repeat;
    top: -105px;


.poroidut-slider-item
  padding 35px
  outline none
  transition all linear .3s

  &:hover
    .slider-podoidut-price-pay
      justify-content space-between
    .slider-podoidut-pay
      display flex
    .poroidut-slider-item--favoirite
      display flex

.poroidut-slider-item--name
  display flex
  flex-direction column
  font-family 'Merriweather Reg',sans-serif
  font-size 16px
  color #283037
  text-align center
  text-decoration none
  margin-bottom 15px
  outline none

  &:hover
    outline none
    text-decoration none
    color inherit


.poroidut-slider-item--link
  position relative
  text-decoration none
  outline none
  z-index 0

  a
    text-decoration none
    outline none

  &:hover
    text-decoration none
    outline none

.slider-podoidut-rating
  display flex
  margin 0 auto
  margin-bottom 20px

.slider-podoidut-price-pay
  display flex
  justify-content center
  align-items center
  height 40px

.slider-podoidut-pay
  display flex
  justify-content center
  align-items center
  background-color: #283037;
  border-radius: 5px;
  size(40px)
  display none
  cursor pointer

  .icon
    size(22px)
    fill #fff

.slider-podoidut-price
  font-family 'Merriweather Bold',sans-serif
  font-size 19px
  color #283037

.poroidut-slider-item--favoirite
  position absolute
  display none
  right -25px
  top -25px
  z-index 10
  cursor pointer

  .icon
    size(24px)
    fill transparent
    stroke #7E8387
    stroke-width 1px

.poroidut-slider-item--favoirite.added-favourite

  .icon
    fill #FAACA8
    stroke #FAACA8
    stroke-width 1px
.js-controls-arrows
  display flex
  align-items center
.podhodit-arrows
  position relative
  z-index 20
  cursor: pointer

  .icon
    size(15px)
    fill #fff
.js-slider-podoidut--prev
  margin-right 40px

.test-form-submit-button
  border none
  border-bottom 2px solid #FAACA8
  margin 0 auto
.w-370
  width 370px

.test-form-submit
  padding-top 40px
  padding-bottom 100px