section.my-room
    .container
        h3.section-title3.text-left ООО “Здоровье”
        .my-room-wrapper
            .my-room-left.col-lg-3
                .my-room-cabinet.order-white-box
                    h3.order-data-title.your-basket.your-basket--title Личный кабинет
                    ul.my-room-list
                        a.my-room-item(href="/") Профиль
                        a.my-room-item(href="/") Мои заказы
                        a.my-room-item(href="/") Активные заказы
                        a.my-room-item(href="/") Завершенные заказы
                        a.my-room-item(href="/") Подписки
                .my-room-exit Выйти
            .my-room-right.col-lg-9
                .my-room-tab-wrapper.my-room-5
                    .my-room-cabinet.order-white-box
                        h3.order-data-title Подписка
                        .order-you-data-inputs.my-room-subs-wrapper
                            .order-you-data-input.my-room-sub.col-lg-6
                                label Email
                                input.inputs-lobarel(type="email" placeholder="Укажите email")
                            .my-room-sub-wrap
                                .my-room-sub-check
                                    label
                                        input.filter-type--input(type="radio" name="subs")
                                        .filter-type-select.my-room-subs-checked
                                            .filter-type-dot
                                            .filter-type-name Новости
                                .my-room-sub-check
                                    label
                                        input.filter-type--input(type="radio" name="subs")
                                        .filter-type-select.my-room-subs-checked
                                            .filter-type-dot
                                            .filter-type-name Статьи