.type-skin
  background-repeat no-repeat
  background-size cover
  width 100%
  padding 150px 0


.type-skin-title
  font-family 'Merriweather Bold',sans-serif
  font-size 48px
  color #fff
  text-transform initial
  margin-bottom 30px

.type-skin-text
  font-family 'Roboto 400',sans-serif
  font-size 16px
  color #fff
  margin-bottom 60px

.type-skin-buttons
  display flex
  align-items center
.type-white-button
  color #fff
  opacity 1

  &:hover
    color #fff
.w-200
  width 200px
