
@media screen and (max-width: 1199px)
  .about-us-text
    font-size 12px
  .about-us-block
    margin-bottom 15px
  .choise-cream-girl-svg
    background-size contain
  .main-product-page
    .header-bottom__logo--link
      margin-right 15px
    .header-bottom-fixed-menu-item
      margin-right 5px
      font-size 13px
  .soveti-lobarel-item
    margin-bottom 25px
  .soveti-count-1
    left 150px
  .soveti-count-2
    left 135px
  .soveti-count-3
    left 135px
  .soveti-count-4
    left 135px

  .header-bottom__logo--link
    margin-right 30px
  .header-bottom__catalog span
    display none
  .header-bottom__catalog .icon-down-arrow
    display none
  .header-bottom__catalog
    width max-content
  .header-bottom__catalog .icon-menu
    margin-right 0
  .header-bottom__catalog--popup--item span
    display none
  .header-bottom__catalog--popup--item .icon
    margin-right 0
  .header-bottom__catalog--popup--item
    justify-content center
  .header-bottom__logo--and--catalog
    width 18%
  .header-bottom__search--and--attr
    width 100%
  .header-fixed .header-bottom__search--and--attr
    width max-content
  .section-title
    font-size 33px
  .section-text
    font-size 15px
  .header-bottom-fixed-menu-item
    margin-right 15px

  .choise-hair
    width: 11.5%;
    height 15.5%
    transform: translateX(467%) translateY(78%);
  .choise-hail-list
    left 21.5%
    top 6%
  .choise-body
    width: 15.5%;
    height 22.5%
    transform: translateX(378%) translateY(126%);
  .choise-body-list
    left 9%
    top 54px
  .choise-face
    width 10.5%
    height 14.5%
    transform: translateX(514%) translateY(152%);
  .choise-face-list
    left: 16.7%;
    top: 5%;
  .choise-hand
    width: 32%;
    height 26.6%
    transform: translateX(114%) translateY(179%);
  .choise-hand-list
    left 5%
    top 43px
  .choise-leg,.choise-leg2
    width: 44.3%;
    height 45%
    transform: translateX(46%) translateY(101%);
  .choise-leg-list
    top 119px

  .advantages-text
    font-size 14px
  .advantages-item .icon
    size(62px)
  .review-comment-text
    font-size 13px
  .form-preorder
    margin 0
  .preorder-type-skin-radio
    padding 0
  //.preorder-radio-inputs:first-child
  //  margin 0
  #preorder_type-skin .preorder-radio-inputs,#preorder_type-effect .preorder-radio-inputs,#preorder_type-attr .preorder-radio-inputs
    min-width 100%
  .harmonika-input-name
    font-size 13px
  .type-skin
    background-position center
  .type-skin-care--item__img
    background-size cover
    background-position center
  .section-text3
    width 700px
  .filter-type-name
    font-size 13px
  .filter--price--inputs
    width 100%
  .sliders-filters
    width 100%
    padding 8px
  .slider-podoidut-price-pay
    justify-content space-between
  .slider-podoidut-pay
    display flex
  .order-product-item--name
    font-size 14px
  .order-product-item__img
    width 105px
  .order-product-item__price
    margin-left 15px
  .compare-price
    font-size 13px
  .compare-day
    font-size 13px
  .method-pay-wrap
    flex-direction column
  .method-pay-item
    margin-right 0
    width 100%
  .product-picture-bg
    height  240px
    left -120px
  .product-picture-bg2:after
    height 380px
    right -43px
  .product-picture-bg2:before
    height 420px
    top -190px
  .cream-compare-circule-icons-left span,.cream-compare-circule-icons-right span
    font-size 15px
  .about-us-text
    font-size 12px
  .product-right-white
    padding-left 55px
  .product-right-white--info-text
    font-size 13px
  .lobarel-cream-tab
    padding 15px
  .lobarel-tab-text
    font-size 14px
  .insta-photo--item
    margin-bottom 20px
  .why-choise-item-text
    font-size 16px
  .why-choise-item-num
    font-size 50px
  .why-choise-item
    margin-bottom 45px
  .why-choise-item:nth-child(2)
    margin-left -25px
  .why-choise-item:nth-child(3)
    margin-left 12px
  .why-choise-item:nth-child(4)
    right -45px
  .title-section-text-left,.title-section-text-right
    font-size 15px
  .review-slider--text
    font-size 13px
  .review-slider-info
    width 565px
  .lobarer-tab-characteristics--list
    height 745px
    column-count: 1
  .lobarer-tab-characteristics--item__count
    width 25%
  .lobarer-tab-characteristics--item--wrap
    width 75%
  .header-fixed
    .header-bottom--attr__item-menu
      background-color transparent
      size(60px)
      .icon
        size(30px)
  .choise-cream-girl-svg
    background-size: 100% calc(100% - 80px);
  .about-us-blocK--img
    height 219px



@media screen and (max-width: 992px)

  #preorder_year
    margin 0
    .preorder-radio-inputs:nth-child(3)
      margin-left -15px
  .menu-fixed .header-bottom__catalog--popup--item span
    color #fff
  .about-us-blocK--img
    height 180px
  .main-product-page .header-bottom--attr__item-menu
    background-color transparent
  .choise-cream-girl
    max-height 460px
  .choise-cream-girl-svg
    background-size: contain
  .header-bottom__search--and--attr
    width max-content
  .header-bottom--attr__item .icon
    size(20px)
  .header-bottom--attr-basket__count,.header-bottom--attr-favourite__count
    right -6px

  .header-bottom--attr__item
    size(50px)
    margin-right 20px
  .header-bottom--attr__item-menu
    size(60px)
  .header-top
    display none
  .header-bottom-search__form
    display none
  .header-bottom--attr__item--mobile
    display flex
  .header-bottom__catalog--wrap
    display none
  .header-bottom__logo--link
    margin-right 0
  .header-bottom__logo--and--catalog
    width max-content
  .header-bottom--attr__item-menu
    display flex
    background-color transparent
    margin-right 0
    margin-left 20px
    .icon
      size(30px)
  .header-bottom__search--and--attr
    justify-content space-between
  .search-absolute
    display flex
  .header-bottom-fixed-menu
    display none
  .header-bottom--nav
    justify-content space-between

  .lobarel-cream-svoistva
    background-size contain
    margin 0 0 0 auto


  .choise-hair
    width: 13%;
    height: 17.8%;
    transform: translateX(418%) translateY(36%);
  .choise-hail-list
    left 13.5%
    top 4%
  .choise-body
    width 17.5%
    transform: translateX(342%) translateY(100%);
    height: 25.5%;

  .choise-face
    width 11.8%
    height: 16.5%;
    transform: translateX(463%) translateY(110%);

  .choise-leg,.choise-leg2
    width: 50.1%;
    height: 52%;
    transform: translateX(33%) translateY(86%);
  .choise-cream-girl-menu--icon--wrap
    size(28px)
  .choise-cream-girl-menu--icon
    size(28px)
  .choise-cream-girl-menu--link .icon
    width 18px !important
    height 18px !important
  .choise-cream-girl-menu--link
    margin-bottom 15px
  .choise-hail-list:after
    top 50px
    right: -78px;
  .choise-hail-list:before
    width 131%

  .choise-face-list
    left: 5.3%;
    top: 4%;
  .choise-leg-list
    top 15%
  .choise-body-list:before
    background-size: 150%;
    width: 178%;
  .choise-body-list:after
    right: -176px;
    bottom: 50px;

  .choise-body-list
    left: 5%;
    top: 4%;
  .choise-hand-list:before
    width 135%
  .choise-hand
    height: 30.1%;
    width: 36.5%;
    transform: translateX(94.5%) translateY(158%);
  .choise-hand-list
    left: 0%;
    top: -3%;
  .choise-hand-list:after
    right: -88px;
    bottom: -86px;
  .choise-leg-list:before
    width: 100%;
    bottom: -45px;
  .choise-leg-list:after
    right: -13px;
    bottom: -58px;
  .reviews-cav .icon
    size(50px)
  .footer-contact
    flex-direction column
  .footer-social a
    margin-right 25px
  .footer-bottom-list a
    font-size 14px
  .footer-copy-info
    font-size 14px
  .choise-cream-modal-text
    font-size 14px
  .choise-cream-modal-flower
    padding 25px
    width 307px
  #preorder_type-skin .preorder-radio-inputs--wrapper
    display none
  .preorder-type--wrapper
    flex-direction column

  #preorder_type-skin

    .preorder-radio-checkbox-wrap
      display block
      margin-bottom 30px
  .baner-preorder
    background-size cover

  #preorder_type-effect
    .preorder-radio-inputs--wrapper
      display none
    .preorder-radio-checkbox-wrap
      display block
      margin-bottom 30px
  #test_defect
    flex-direction column
  .test-radio-year
    font-size 15px
    height 45px
  .my-room-wrapper
    flex-direction column
  .my-room-left
    padding-right 0
    margin-bottom 20px
  .my-room-right
    padding-left 0
  .my-favorit-left
    display none
  .catalog-filter-fixed--left
    display block
    text-align: center;
    background-color: rgba(40,48,55,0.03);
    border-radius: 10px;
    padding: 30px;
    margin-right: 15px;
    height: max-content;
  .my-favorit-right
    padding 0
  .catalog-title-sort
    display none
  .mobile-count-product
    display block
  .my-favorit-count-sort-span
    display none
  .mobile-catalog-filter-button
    display flex
  .my-favorit-sort-wrap
    width 48%
  .order-wrapper
    flex-direction column
  .order-stycky--content
    padding-left 0
    padding-right 15px
  .my-room-offer-top-mobile
    display flex
  .main-product
    display none
  .product-picture-bg
    left 0
    position relative
    margin -50px 0
    bottom 40px
  .product-picture-bg2:before
    height 400px
    top -265px
    left 2px
  .product-picture-bg2
    background-position center
  .product-picture-bg2:after
    height 360px
    right: -250px;
    top 35px
  .product-left-price
    margin-bottom 20px
    text-align center
  .about-us-buy-all
    font-size 16px
  .about-us-title
    font-size 32px
  .lobarel-cream-tabs
    overflow-x scroll
  .lobarel-cream-tab
    white-space: pre;
  .lobarel-cream-tab.active
    box-shadow none
  //.cream-compare
  //  overflow-x scroll !important
  //.box-wrap
  //  width 200%
  .lobarel-cream-info
    flex-direction column
    .col-lg-8
      order 2
    .col-lg-4
      order 1
  .lobarel-cream-tab--img
    width 100%
    height 300px
    padding-left 0
  .lobarel-tab-title
    text-align center
  .lobarel-baner:before
    top 50%
    z-index 1
  .lobarel-baner
    background-position inherit
    padding 80px 0
  .lobarel-baner-content
    display flex
    justify-content center
  .insta-photo--item
    height 52vh
    background-position center
  .video-cream--wrapper
    flex-direction column
  .video-cream-left
    order 2
  .video-cream-right
    order 1
    margin-bottom 60px
  .video-cream-play-img:before
    left: -109px;
    bottom: -69px;
    width: 369px;
    height: 121px;
  .video-cream--wrapper .section-text
    width 100%
  .why-choise-wrapper
    flex-direction column
    padding 0
  .wall-choise
    order 2
  .why-choise-list
    order 1
    display flex
    flex-wrap wrap
  .why-choise-item:nth-child(1),.why-choise-item:nth-child(2),.why-choise-item:nth-child(3)
    margin-left 0
  .why-choise-item:nth-child(4)
    right auto
  .why-choise-item
    display flex
    flex-direction column
    flex 0 0 50%
    max-width 0 0 50%
  .why-choise-item-text
    font-size 14px
    text-align center
  .why-choise-item-num:after
    right auto
  .wall-choise
    transform rotate(-90deg)
    width 100%
    height 500px
    margin-top -120px
  .wall-cream
    transform: rotate(185deg);
    left: -42px;
  .main-product-page .reviews
    padding-bottom 0px
  .index-video-slider
    margin-top 25px
  .review-slider-item:before
    width 100%
    height: 50%;
    bottom 0
    top auto
  .review-slider-item
    background-size cover
  .review-slider-info
    width 413px
  .main-product-mobile
    display block
    overflow hidden
  .menu-fixed
    .header-bottom__catalog--wrap
      display flex
      flex-direction column
      margin-bottom 15px

    .header-bottom__catalog
      border-radius 0
      text-align center
      justify-content center
      width 100%
      border-bottom 1px solid rgba(255, 255, 255, 0.3)
      .icon-down-arrow
         display flex
         position absolute
         right 20px
      span
        display block
        margin-right 0
    .header-bottom__catalog--popup--item
      background-color #FAACA8
      border-bottom none
      span
        display block
    .header-bottom__catalog--popup
       background-color transparent
       position relative
       top 0


@media screen and (max-width: 768px)
  .cream-compare2
    height auto
  .cream-compare-relative, .cream-compare-relative2
    width auto
  .lobarel-relative
    position absolute
    display flex
    //width 100%
    height 100%
    will-change transform


  .lobarel-horizontal
    position relative
    pointer-events none

  .lobarel-wrapper-sticky
    position relative

  .lobarel-absolute
    position absolute
    top 0
    width 100%
    height 100%


  .lobarel-sticky
    height: calc(100vh - 120px);
    position: -webkit-sticky;
    position: sticky;
    //overflow-y: hidden;
    top: 60px;
    //display inline-table
    width inherit
    overflow-x scroll
  .cream-compare
    height: auto;
  .cream-compare-left
    width 100vw
  .cream-compare-right
    width 100vw
  #add-review-modal-non-reg
    padding-right 0
    .modal-dialog
      max-width 525px
    .popup-review-non-auth
      flex-direction column
      .popup-inputs--item
        width 100%
        margin-bottom 10px
    .popup-review-input-avatar--wrap
      width 100%
      align-items center
      margin-bottom 10px
      .popup-review-input-avatar
        width 42%

  .about-us-blocK--img
    height 320px
  .about-us-cream
    height auto
  .lobarer-tab-characteristics--item--wrap
    width 60%
  .lobarer-tab-characteristics--item__count
    width 40%
  .lobarer-tab-characteristics--item__count,.lobarer-tab-characteristics--item__name
    font-size 13px
  .lobarel-cream-tabs
    margin 0 -45px
    margin-bottom 40px
  .choise-cream-girl-svg
    background-size: contain
  .choise-cream-container
    max-height 340.2px
  .choise-cream-girl
    max-height 340.2px

  .choise-hair
    height 17%
    transform: translateX(419%) translateY(39%);
  .choise-cream-girl-menu--wrap
    display none
  .choise-cream-girl-menu--wrap--mobile
    display block

    .choise-cream-girl-menu--list:after,.choise-cream-girl-menu--list:before
      display none
  .choise-hail-list
    position relative
    top auto
    left auto
  .popup-svg-girl-body
    padding-top 0 !important
    padding-left 20px !important
    padding-right 20px !important
  .popup-svg-girl-header
    padding 20px 20px 0 0 !important
  .choise-face
    height 17%
    transform: translateX(462%) translateY(104%);
  .choise-body
    transform: translateX(342%) translateY(103%);
    height: 25%;
  .choise-hand
    height: 30%;
    transform: translateX(95%) translateY(158%);
  .choise-leg.choise-leg2
    height: 51%;
    transform: translateX(33%) translateY(89%);
  .advantages-text
    height 100%
    max-height 63px
    min-height 63px
  .advantages-item-wrap:nth-child(2n)
    margin 0 -15px
  .section-title
    font-size 25px
  .advantages
    padding 40px 0
  .advantages-item
    padding 15px
  .advantages .section-title
    margin-bottom 25px
  .reviews-container
    flex-direction column
    margin 0 -35px
  .reviews-slider--wrapper
    width 100%
  .reviews-slider-comment
    width 85%
    top -75px
    position relative
  .reviews-slider-comment--wrap
    margin-left 0
  .reviews-slider .slick-list
    border-radius 0
  .reviws-controls
    position: absolute;
    bottom: 75px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  .reviews-arrows
    border-radius: 10px 10px 0 0px;
  .reviews .container
    max-width 100%

  .index-page .reviews
    padding-bottom 0

  .preorder-step
    margin-right 120px
  .preorder-step:before
    width 120px
  .preorder-title-name,.preorder-title-step
    font-size 16px
  .preorder-radio-inputs--wrapper
    flex-direction initial
    justify-content space-between
  .preorder-radio-inputs
    margin-left -15px
  .preorder-type-skin-info--wrapper
    flex-direction column
  .preorder-type-skin-info-img
    width 100%
    height 220px
    background-position right
    order 1
  .preorder-type-skin-info-content
    order 2
    padding 0
  .preorder-type-skin-info--wrapp
    flex-direction column
  .preorder-type-attr-highcharts
    padding 0
    .highcharts-figure
      margin 0 auto
  .select-options li
    font-size 14px
  .preorder-type-skin-info--wrapper
    padding 0
  .test-skin
    flex-direction column
  .test-skin-block-left
    order 2
  .test-skin-block-right
    order 1
  .footer-contact,.footer-social
    padding 0
  .type-skin-title
    font-size 38px
  .section-text3
    width 500px
  .type-skin-care--item
    flex-direction column
  .type-skin-care--item:nth-child(2n)
    flex-direction column
  .type-skin-care .section-title3
    font-size 24px
  .type-skin-care--item__left span
    display none
  .type-skin-care--item__left,.type-skin-care--item__right
    padding 0
  .section-text3
    width 100%
  .my-favorit-sort-wrap-span
    display none
  .order-product-item__count-price
    flex-direction column
  .order-product-item__price
    margin-left 0
    margin-top 20px
  .order-product-item--img-name
    margin-right 15px
  .order-you-data-inputs
    flex-direction column
  .order-you-data-input
    margin-right 0
  .order-compare--item
    font-size 12px
  .order-compare--list-wrap .order-compare--item:first-child
    margin-right 25px
  .order-compare-item--icon
    margin-right 35px
  .order-compare--list
    padding-right 0
  .compare-day
    margin-right 0
  .compare-price3
    display none
  .my-favourite--page .my-favorit-count-sort-span
    width 48%
    display flex
    border-right: 2px solid rgba(40,48,55,0.2);
    height 30px
    color rgba(40, 48, 55, 0.6)
    align-items center

  .my-favourite--pag .my-favorit
    padding-bottom 0
  .my-room-offer-top-desktop
    display: none;
  .my-room-offer-bottom--wrap-info
    width 80%
    flex-direction column
    align-items flex-start
  .mobile-order-number
    display flex
  .my-room-itog
    display none
  .my-room-check-itog
    justify-content space-between
    width 100%
  .my-room-check-itog-wrap
    padding-right 20px
  .my-room-offer-top-left
    width 100%
    justify-content space-between
    margin-right 0
  .my-room-offer-card
    margin-bottom 10px
  .my-room-offer-top-mobile
    margin-bottom 40px
  .my-room-offer-compare
    margin-left 0
  .my-room
    padding-bottom 60px
  .product-picture-bg
    height 220px
  .product-picture-bg
    bottom 80px
  .product-picture-bg2:before
    height 310px
    top -160px
  .product-picture-bg2:after
    height: 300px;
    right: -172px;
    top: -22px;
  .about-us-block
    flex-direction column
  .about-us-block:nth-child(2n)
    flex-flow wrap-reverse
  .about-us-block
    flex-flow wrap-reverse
  .about-us-cream
    padding 40px 0
  .after-before
    padding 60px 0
  .lobarel-cream-tab--img
    height 160px
  .insta-photo--item
    height 37vh
  .insta-photos
    padding 60px 0
  .video-cream
    padding 60px 0
    overflow hidden
  .lobarel-baner
    overflow hidden
  .main-product-mobile
    overflow hidden
  .why-choise
    overflow hidden
  .reviews
    overflow hidden
  .lobarel-cream
    overflow hidden
  .after-before
    overflow hidden
  .main-product-page .reviews
    padding 60px 0
  .index-video-slider--wrapper
    display none
  .index-video-slider--wrapper--mobile
    display block
  .index-video-mobile .container
    max-width 100%
    padding 0

  .index-video-slider-mobile
    position relative
  .index-video-slider-mobile:before
    content: '';
    position: absolute;
    right: -122px;
    top: -16px;
    background-image: url(/static/img/content/flower.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 334px;
    height: 134px;
    z-index: -1;

  .index-video-slider-mobile:after
    content: '';
    position: absolute;
    left: -145px;
    bottom: 50px;
    background-image: url(/static/img/general/pluw4.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 334px;
    height: 134px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    z-index: -1;
  .index-video-mobile
    padding-top 0
    overflow hidden
  .review-slider-js--controls
    display none
  .review-slider-info
    width 400px
    absolute-center()
  .review-slider-item
    height 480px



@media screen and (max-width: 576px)
  #preorder_type
    flex-direction column
  #preorder_year .preorder-radio-inputs:nth-child(3)
    margin-left 0
  .popup-input-review__wrap
    flex-direction column
    .popup-inputs--item
      width 100%
      margin-bottom 15px
  .popup-review-input-avatar
    width 100% !important
  .header-fixed-page-main .header-bottom__logo--and--catalog
    margin-right 0
  .about-us-blocK--img
    height 230px
  .cream-compare
    height auto
  .lobarer-tab-characteristics--item__count,.lobarer-tab-characteristics--item__name
    font-size 12px
  .main-page .header-fixed-all-pages .header-bottom__logo--link
    margin-right 0
  .main-product-page .header-bottom__logo--link
    margin-right 0
  .choise-cream-girl-svg
    background-size: contain
  .menu-fixed .menu-fixed-top
    height 60px
  .header-bottom--attr__list
    display none
  .header-bottom--attr__item
    margin-right 0
  .header-bottom__logo--link .icon
    size(50px)
  .header-bottom
    height 60px
  .header-bottom--nav
    justify-content center
  .header-bottom__search--and--attr
    width max-content
  .header-bottom__logo--and--catalog
    margin-right 0
  .header-bottom--attr__item-menu
    position absolute
    right 0
  .advantages-item-wrap:nth-child(2n)
    margin 0
  .advantages-item-wrap
    width 48%
    padding 0 15px
  .advantages-item .icon
    size(46px)
  .advantages-list
    margin 0
  .reviews-slider-comment-name-rating
    flex-direction column
  .reviews-slider-comment-name
    text-align left
    margin-bottom 12px
  .reviews-slider-comment
    padding 15px
  .footer-top
    flex-direction column
  .footer-logo
    order 1
    margin-bottom 40px
  .footer-contact
    order 2
  .footer-social
    order 3
    text-align center
  .footer-contact a:first-child
    margin-right 0
    margin-bottom 25px
  .footer-social
    display none
  .footer-social2
    display flex
    justify-content center
    margin-bottom 50px
  .footer-bottom-list
    flex-direction column
  .footer-bottom-item
    margin-bottom 30px

    &:last-child
      margin-bottom 0
  .choise-cream-modal
    top 0
  .choise-cream-modal-flower
    width 100%
  .choise-cream-modal-flower:before
    right: -15px;
    background-size: cover
    top: -55px;
    background-position: -128% top;
  .choise-cream-container
    max-height 210px
  .choise-cream-girl
    max-height 210px
  .harmonika-buttons
    flex-direction column
  .harmonika-button-gray
    margin-right 0
    order 2

  .harmonika-buttons .harmonika-button-pinkblack
    margin-bottom 15px
  .header-top-lang-phone
    display none
  .menu-fixed-top--item
    font-size 14px
  .advantages-text
    font-size 12px
    word-break break-word
  .advantages-item .icon
    margin-bottom 6px
  .reviews
    padding-top 70px !important
  .mobile-panel-fixed
    display block
  .popup-body
    padding 30px !important
  .choise-hair
    width: 41px;
    transform: none;
    left: 49.7vw;
    top: 6.6%;
  .choise-face
    width: 37px;
    transform: none;
    left: 49.9vw;
    top: 17.5%;
  .choise-body
    width: 55px;
    left: calc(50% - -31px);
    top: 26%;
    transform: none;
  .choise-hand
    width: 112px;
    height: 29.8%;
    transform: none;
    left: calc(50% - 46.5px);
    top: 47.5%;
  .choise-leg,.choise-leg2
    width: 158px;
    transform: none;
    left: calc(50% - 106px);
    top: 44.5%;
  .header-fixed
    height 60px
  .search-absolute--fixed-menu,.search-absolute
    top 59px !important
  .preorder-step
    margin-right 65px
  .preorder-step:before
    width 65px
  .preorder-radio-inputs
    padding 0
  .preorder-radio-inputs:first-child
    margin-left 0
  .preorder-radio-inputs
    margin-left 0
  .preorder-type-skin-info-img
    background-size cover
    margin-bottom 15px
  .preorder-buttons-form .harmonika-button-pinkblack
    //width 260px
    margin-bottom 0

  .preorder-buttons-form
    flex-direction: row-reverse;
    .harmonika-button-gray
      margin-right 10px
  .preorder-type-skin-info-title-gray
    font-size 14px
  .test-skin-block-left
    order 2
    padding 0
  .test-skin-block-right
    order 1
    padding 0
  .test-skin-block-img
    background-size cover
    height 220px
    margin-bottom 15px
  .test--wrapper--cream
    flex-direction column
  .section-title2
    font-size 20px
  .test-form-submit-button
    width 290px
  .slider-title
    font-size 20px
  .order-you-data-inputs
    flex-direction column
  .order-you-data-input
    margin-right 0
  .my-room-select-field
    width 100%
  .menu-fixed .section-title3
    display block
  .type-skin-care
    padding 30px 0
  .type-skin-care--right-button
    width 100%
  .type-skin-care--item:nth-child(2n)
    margin 0 -15px
    margin-bottom 40px
  .type-skin-care--item
    margin 0 -15px
    margin-bottom 40px
  .type-skin-care--item__img
    margin-top 0
    border-radius 0
  .type-skin-care--item:before
    display none
  .type-skin-care--item
    box-shadow none
    padding 0
  .type-skin-care--item__right
    padding 0 15px
  .type-skin-care-title
    font-size 15px
  .type-skin-care .section-title3
    font-size 18px
  .section-text3
    margin-bottom 20px
    font-size 12px
  .type-skin-title
    font-size 24px
  .type-skin-text
    font-size 12px
  .type-skin-buttons
    flex-direction column
    align-items: flex-start;
    .harmonika-button-pinkblack
      margin-right 0 !important
      margin-bottom 20px
  .type-skin
    padding 80px 0
  .type-skin-text
    margin-bottom 40px
  .type-skin-baner--content .col-sm-3
    padding 0
    width 80%
  .type-skin
    background-position: 55% 100%;
  .breadcrumb .container
    padding 0
  .breadcrumb-item a
    font-size 12px
  .my-favorit--list-product
    display none
  .mobile--list-product
    display flex

    .my-favourite--item-product
      display flex
      justify-content space-between
      padding 15px 0
      box-shadow none
      border-bottom 1px solid rgba(40, 48, 55, 0.11)
      border-radius 0
      margin 0 15px
    .img-slider-podoidut
      width 90px
      height 100%
      min-height 100%
    .col-sm-6
      padding 0
    .poroidut-slider-item--name
      font-size 14px
      text-align left
      margin-bottom 10px
    .slider-podoidut-price-pay
      justify-content flex-start
      height auto
    .poroidut-slider-item--link
       margin-right 15px
    .slider-podoidut-rating
      padding 0
  .mobile-price-favourite-basket
      display flex
      flex-direction column
      justify-content space-between
      align-items center
      .poroidut-slider-item--favoirite
          position relative
          display flex
          right auto
          top auto
      .slider-podoidut-pay
          display flex
  .my-favorit-count-sort
    margin 0 -15px
    border-radius 0
  .js-controls-arrows--mobile
    display flex
    justify-content center
    align-items center
    //width 60%
  .js-slider-podoidut
    margin 0 -15px
  .js-slider-podoidut-z2,.js-slider-podoidut-z
    margin-bottom 25px
  .js-slider-podoidut-z2:after,.js-slider-podoidut-z:after
    display none
  .js-slider-podoidut-z2:before,.js-slider-podoidut-z:after
    display none
  .js-controls-arrows
    display none
  .js-slider-podoidut--prev2,.js-slider-podoidut--prev
    margin-right 24px
  .js-slider-podoidut--next2,.js-slider-podoidut--next
    margin-left 24px
  .slider-title
    font-size 14px
  .js-slider-podoidut-z2,.js-slider-podoidut-z
    border-radius 0
  .js-slider-podoidut-z:before
    display none
  .poroidut-slider-item
    padding 35px 15px
  .orders-all
    display none
  .orders-all-mobile
    display block
  .orders-all-desktop
    display none
  .order-compare-item--icon
    width 70px
  .order-compare-method .order-compare-item-checkbox
    position absolute
    left 30px
    margin-right -20px
  .order-compare--list
    padding-left 0
  .order-compare-item--icon
    margin-left 20px
  .order-product-item
    flex-direction column
  .order-product-item--img-name
    flex-direction column
    margin-right 0
  .order-product-item--name
    text-align center
  .order-product-item__img
    margin-right 0
  .order-product-item__count-price
    flex-direction row-reverse
    width 100%
    justify-content space-between
    margin-top 20px
  .order-product-item__price
    margin-top 0
    width auto
  .order-left
    padding-right 0
  .order-right
    padding-right 0
  .order-page .section-title3
    font-size 24px
  .my-offer-cancel-wrapper
    flex-direction column
  .my-offer-cancel-left, .my-offer-cancel-right
    width 100%
    margin-left 0
    margin-right 0
  .my-offer-cancel-left
    margin-bottom 20px
  .my-offer-cancel-order--buttons
    flex-direction row-reverse
    .harmonika-button-pinkblack,.harmonika-button-gray
      font-family 'Open Sans 600',sans-serif
      font-size 10px
  .my-room-method-offer .harmonika-button-pinkblack
    max-width 100%
  .my-room-offer-compare
    display flex
    align-items center
    justify-content center
  .product-picture-bg
    height 175px
    bottom 56px
    margin -50px 0
  .product-picture-bg2:before
    left: -33px;
    height: 280px;
    top: -53px;
    background-position center
  .product-picture-bg2:after
    height: 280px;
    right: -57px;
    top: -103px;
    background-position center
  //.box-wrap
  //  width 250%
  .cream-compare-circule-icons-left span, .cream-compare-circule-icons-right span
    font-size 14px
  .cream-compare-circule
    size(270px)
    top 55%
  .cream-compare-circule:before
    size(320px)
  .cream-compare-circule-icon
    margin-bottom 3px
  .cream-compare-wrapper
    height 100%
  .cream-compare-circule-icon-left--wrap, .cream-compare-circule-icon-right--wrap
    size(28px)
  .cream-compare-circule-icon-left--wrap .icon, .cream-compare-circule-icon-right--wrap .icon
    size(12px)
  .cream-compare-circule-img
    size(200px)
    background-position: center 45px;
  .cream-compare-circule-img:before
    height 210px
    top: 3px;
  .cream-compare-circule-img:after
    height 210px
    top: -24px;
    right: -39px;
  .cream-compare-circule-icon-left--wrap, .cream-compare-circule-icon-right--wrap
    size(22px)




  .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(1)
    margin-right 44px

  .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(2)
    margin-right 101px

  .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(3)
    margin-right 128px

  .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(4)
    margin-right 144px

  .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(5)
    margin-right 149px

  .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(6)
    margin-right 144px

  .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(7)
    margin-right 132px

  .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(8)
    margin-right 106px

  .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(9)
    margin-right 49px

  // right

  .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(1)
    margin-left 44px

  .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(2)
    margin-left 101px

  .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(3)
    margin-left 128px

  .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(4)
    margin-left 144px

  .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(5)
    margin-left 149px

  .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(6)
    margin-left 144px

  .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(7)
    margin-left 132px

  .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(8)
    margin-left 106px

  .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(9)
    margin-left 49px

  .title-left
    text-align left
    margin-left 30px
  .title-right
    text-align right
    margin-right 30px
  .about-us-buy
    flex-direction column
    .harmonika-button-pinkblack
      order 2
  .about-us-buy-all
    order 1
  .after-before-img--wrapper:after
    left: -116px;
    bottom: -70px;
    width: 342px;
    height: 240px;
  .lobarel-cream-wrapper
    margin 0 -15px
    border-radius 0
    padding 10px
  .lobarel-cream-wrapper:after
    display none
  .lobarel-baner
    background-size cover
  .insta-title-wrap .icon
    size(25px)
  .insta-title
    font-size 20px
  .insta-photo--item
    width 48%
    height 24vh
  .insta-photos--content
    margin-bottom 15px
  .video-cream-play-img:after
    right: -168px;
    top: -65px;
  .video-cream-play-img:before
    left: -69px;
    bottom: -64px;
    width: 343px;
    height: 94px;
  .video-cream--wrapper .section-title
    font-size 20px
  .video-cream--wrapper .section-text
    font-size 12px
  .section-title
    font-size 22px
  .wall-choise
    height 480px
  .vs-cream .cream-compare-circule-icon
    margin-bottom 10px !important
  .vs-cream .cream-compare-left,.vs-cream .cream-compare-right
    height 100%
  .vs-cream .cream-compare-wrapper
    height 100%

  .vs-cream .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(1)
    margin-right: 43px;
  .vs-cream .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(2)
    margin-right: 102px;
  .vs-cream .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(3)
    margin-right: 127px;
  .vs-cream .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(4)
    margin-right: 135px;

  .vs-cream .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(5)
    margin-right: 129px;
  .vs-cream .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(6)
    margin-right: 107px;
  .vs-cream .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(7)
    margin-right: 55px;



  .vs-cream .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(1)
    margin-left: 43px;
  .vs-cream .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(2)
    margin-left 102px;
  .vs-cream .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(3)
    margin-left 127px;
  .vs-cream .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(4)
    margin-left 135px;

  .vs-cream .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(5)
    margin-left 129px;
  .vs-cream .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(6)
    margin-left 107px;
  .vs-cream .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(7)
    margin-left 55px;

  .index-video-slider-item-mobile
    margin 0 20px
  .index-video-slider-mobile:before
    width: 334px;
    height: 245px;
    right: -173px;
    top: -16px;
  .index-video-slider-mobile:after
    left: -88px;
    bottom: -11px;
  .review-slider-item
    height 550px
  .review-slider-info
    width 90%
  .review-slider-all-review
    font-size 15px
    margin-bottom 15px
  .vam-popdoidut
    padding-bottom 3rem !important
  .vs-cream-hover
    display none
  .my-room-check-itog .my-room-offer-compare
    width 170px
    padding 8px 15px
  .cream-compare-circule-title-and-text
    display none
  .vs-cream-compare-circule
    &:before
      size(290px)
  .vs-cream .cream-compare-circule
    top 58%
  .vs-cream .cream-compare-circule-icons-left, .vs-cream .cream-compare-circule-icons-right
    top 58.5%
  .vs-cream-hover
    display none !important


//.my-room-left-mobile
  //  display flex
  //  align-items center
  //  margin-top 20px











.search-absolute,.search-absolute--fixed-menu
  display none
  position absolute
  background-color #fff
  left 0
  right 0
  top 100px
  padding 12px
  z-index 888
  height 80px
  box-shadow: 0px 5px 10px rgba(0,0,0,0.05);

  .header-bottom-search__form
    display flex
    max-width 100%
    margin-right 0

.search-absolute--fixed-menu
  top 79px
