section.my-room
    .container
        h3.section-title3.text-left ООО “Здоровье”
        .my-room-wrapper
            .my-room-left.col-lg-3
                .my-room-cabinet.order-white-box
                    h3.order-data-title.your-basket.your-basket--title Личный кабинет
                    ul.my-room-list
                        a.my-room-item(href="/") Профиль
                        a.my-room-item(href="/") Мои заказы
                        a.my-room-item(href="/") Активные заказы
                        a.my-room-item(href="/") Завершенные заказы
                        a.my-room-item(href="/") Подписки
                .my-room-exit Выйти
            .my-room-right.col-lg-9
                .my-room-tab-wrapper.my-room-2.active
                    .my-room-cabinet.order-white-box
                        h3.order-data-title Заказ №3
                        .my-room-offer-card
                            .my-room-offer-top--wrap
                                .my-room-offer-top-left
                                    .my-room-offer-top-left--title
                                        h3.my-offer-left-tile Отправление 1
                                        span от 2 марта 2020
                                    .my-room-offer-compare Доставка
                                .my-room-offer-top.my-room-offer-top-desktop Ожидаемая дата доставки: 12 марта 2020
                            .my-room-offer-bottom--wrap
                                .my-room-offer-bottom--wrap-info
                                    img.my-room-offer-bottom--wrap__img(src="static/img/general/search/big1.png")
                                    span Увлажняющий крем с экстрактом жасмина Floreritudos
                                .my-room-offer-bottom--wrap-count (1 шт.)
                        .my-room-offer-top.my-room-offer-top-mobile Ожидаемая дата доставки: 12 марта 2020
                        .my-room-check-itog-wrap
                            h3.my-room-check-itog-title.my-room-check-itog Счет №0001 от 02.03.2020 #[.my-room-offer-compare Не оплачено]
                            p.my-room-itog Сумма к оплате: 699 ₽

                        .my-room-method-offer
                            .mobile-order-number
                                .mobile-order-number-date от 02.03.2020
                                .mobile-order-number-price 699 ₽

                            label Способы оплаты
                            .method-pay-wrap
                                .method-pay-item
                                    label
                                        .order-compare-item-checkbox.method-pay-item-check
                                        input.order-compare-item-checkbox-input(type="radio" name="method_pay")
                                        .method-pay-text
                                            .method-pay-method Оплата при получении
                                            span Наличными или картой
                                .method-pay-item
                                    label
                                        .order-compare-item-checkbox.method-pay-item-check
                                        input.order-compare-item-checkbox-input(type="radio" name="method_pay")
                                        .method-pay-text
                                            .method-pay-method Банковской картой
                                            span Оплата картой онлайн
                                .method-pay-item
                                    label
                                        .order-compare-item-checkbox.method-pay-item-check
                                        input.order-compare-item-checkbox-input(type="radio" name="method_pay")
                                        .method-pay-text
                                            .method-pay-method Яндекс.Деньги
                                            span Кэшбэк 5%
                            button.harmonika-button-pinkblack.mw-260 Оплатить
                        .my-offer-cancel-wrapper
                            .my-offer-cancel-left
                                h3.my-offer-cancel--title Доставка в пункт выдачи
                                p.my-offer-cancel--text Краснодарский край, г. Краснодар, ул. Черняховского, д. 70
                                h3.my-offer-cancel--title Получатель
                                span Вадим Громов
                                a(href="mailto:Gromov22@mail.com") Gromov22@mail.com
                                a(href="tel:89991234567") 8 (999) 123 45 67

                            .my-offer-cancel-right
                                h3.my-offer-cancel-right--title Итого: #[.my-offer-cancel-right--summ 26 590 ₽]
                                .my-offer-cancel-right--compare Служба доставки: #[p Доставка курьером]
                                .my-offer-cancel-right--compare Статус отгрузки: #[p Ожидает обработки]
                                .my-offer-cancel-order--buttons
                                    .harmonika-button-gray.mr-3 Повторный заказ
                                    .harmonika-button-pinkblack Отменить заказ
