section.baner-preorder(style="background-image: url('static/img/general/bg.png')")

section.test-page
    .container
        h3.section-title2.mt-35px.white-section-title Ответьте на несколько вопросов чтобы узнать свой тип кожи:
        form#test-form.form-preorder
            .form-preorder-wrapper
                .test--wrapper--cream
                    .test-radio-checkbox-wrap.col-lg-6
                        .test-radio-year Ваш возраст:
                        .preorder-radio-inputs--wrapper#test_year
                            .test-radio-inputs
                                .preorder-radio-input-div
                                    label
                                        input.harmonika-preorder-input(type="radio" name="test_year")
                                        .harmonika-input
                                            .harmonika-input-dot
                                            .harmonika-input-name Меньше 40 лет
                                .preorder-radio-input-div
                                    label
                                        input.harmonika-preorder-input(type="radio" name="test_year")
                                        .harmonika-input
                                            .harmonika-input-dot
                                            .harmonika-input-name Больше 40 лет
                    .test-radio-checkbox-wrap.col-lg-6
                        .test-radio-year Какой крем Ваша кожа воспринимает лучше?
                        .preorder-radio-inputs--wrapper#test_cream
                            .test-radio-inputs
                                .preorder-radio-input-div
                                    label
                                        input.harmonika-preorder-input(type="radio" name="test_cream")
                                        .harmonika-input
                                            .harmonika-input-dot
                                            .harmonika-input-name Легкий
                                .preorder-radio-input-div
                                    label
                                        input.harmonika-preorder-input(type="radio" name="test_cream")
                                        .harmonika-input
                                            .harmonika-input-dot
                                            .harmonika-input-name Плотный
                .test-defect
                    .test-radio-checkbox-wrap.p-0.col-lg-12
                        .test-radio-year Какой дефект Вы хотите убрать с помощью крема?
                        .preorder-radio-inputs--wrapper.test_defect#test_defect
                            .test-radio-inputs.col-lg-3.col-md-12.col-sm-12
                                .preorder-radio-input-div
                                    label
                                        input.harmonika-preorder-input(type="radio" name="test_defect")
                                        .harmonika-input.test-defect-padding
                                            .harmonika-input-dot
                                            .harmonika-input-name.fs-13 Блеск и комедоны
                                .preorder-radio-input-div
                                    label
                                        input.harmonika-preorder-input(type="radio" name="test_defect")
                                        .harmonika-input.test-defect-padding
                                            .harmonika-input-dot
                                            .harmonika-input-name.fs-13 Воспаления и блеск
                            .test-radio-inputs.col-lg-3.col-md-12.col-sm-12
                                .preorder-radio-input-div
                                    label
                                        input.harmonika-preorder-input(type="radio" name="test_defect")
                                        .harmonika-input.test-defect-padding
                                            .harmonika-input-dot
                                            .harmonika-input-name.fs-13 Шелушение и зуд
                                .preorder-radio-input-div
                                    label
                                        input.harmonika-preorder-input(type="radio" name="test_defect")
                                        .harmonika-input.test-defect-padding
                                            .harmonika-input-dot
                                            .harmonika-input-name.fs-13 Покраснения и шелушение
                            .test-radio-inputs.col-lg-3.col-md-12.col-sm-12
                                .preorder-radio-input-div
                                    label
                                        input.harmonika-preorder-input(type="radio" name="test_defect")
                                        .harmonika-input.test-defect-padding
                                            .harmonika-input-dot
                                            .harmonika-input-name.fs-13 Ожоги/пигментные пятна
                                .preorder-radio-input-div
                                    label
                                        input.harmonika-preorder-input(type="radio" name="test_defect")
                                        .harmonika-input.test-defect-padding
                                            .harmonika-input-dot
                                            .harmonika-input-name.fs-13 Крупные поры и шелушение
                            .test-radio-inputs.col-lg-3.col-md-12.col-sm-12
                                .preorder-radio-input-div
                                    label
                                        input.harmonika-preorder-input(type="radio" name="test_defect")
                                        .harmonika-input.test-defect-padding
                                            .harmonika-input-dot
                                            .harmonika-input-name.fs-13 Снижение упругости кожи
                                .preorder-radio-input-div
                                    label
                                        input.harmonika-preorder-input(type="radio" name="test_defect")
                                        .harmonika-input.test-defect-padding
                                            .harmonika-input-dot
                                            .harmonika-input-name.fs-13 Морщины


                .test-skin
                    .test-skin-block-left.col-lg-9
                        .test-radio-year У вас Жирная кожа
                        p.test-skin--text #[b Жирная кожа] плотная. Поры хорошо заметны, кожа выглядит неровной из-за наличия черных точек и белых угрей, иногда видны шрамы от изредка возникающих воспалений. Кожа блестит, особенно яркий блеск - в области лба, носа и подбородка. #[b Блеск появляется утром или в течение дня.] Макияж плохо держится на коже и, как правило, в течение короткого промежутка времени и при высокой окружающей температуре «плывет» и выглядит неопрятно.
                        p.test-skin--text #[b При составлении рецепта] крема для Жирной кожи #[b отдайте предпочтение] эффекту уменьшения жирности #[b и выберите легкую текстуру крема.] Если у Вас возникают воспаления на коже – выберите Проблемную кожу из списка и легкую текстуру крема.
                    .test-skin-block-right.col-lg-3
                        .test-skin-block-img(style="background-image: url('static/img/general/img2.png')")



section.vam-popdoidut
    .container
        .js-controls-and-title.col-lg-11
            h3.slider-title Вам подойдут эти крема
            .js-controls-arrows
                .js-slider-podoidut--prev.podhodit-arrows
                    +icon('arrow-prev')
                .js-slider-podoidut--next.podhodit-arrows
                    +icon('arrow-next')
        .js-slider-podoidut
            .js-slider-podoidut-z
                .poroidut-slider-item
                    .poroidut-slider-item--link
                        a(href="/")
                            .img-slider-podoidut(style="background-image: url('static/img/general/search/product1.png')")
                        .poroidut-slider-item--favoirite
                            +icon('favourite')
                        a.poroidut-slider-item--name(href="/") Крем для ног
                            span "Lobarel"
                    .slider-podoidut-rating(data-rating="5" readonly="readonly")
                    .slider-podoidut-price-pay
                        .slider-podoidut-price 399 ₽
                        .slider-podoidut-pay
                            +icon('basket')
                .poroidut-slider-item
                    .poroidut-slider-item--link
                        a(href="/")
                            .img-slider-podoidut(style="background-image: url('static/img/general/search/product1.png')")
                        .poroidut-slider-item--favoirite
                            +icon('favourite')
                        a.poroidut-slider-item--name(href="/") Крем для ног
                            span "Lobarel"
                    .slider-podoidut-rating(data-rating="5" readonly="readonly")
                    .slider-podoidut-price-pay
                        .slider-podoidut-price 399 ₽
                        .slider-podoidut-pay
                            +icon('basket')
                .poroidut-slider-item
                    .poroidut-slider-item--link
                        a(href="/")
                            .img-slider-podoidut(style="background-image: url('static/img/general/search/product1.png')")
                        .poroidut-slider-item--favoirite
                            +icon('favourite')
                        a.poroidut-slider-item--name(href="/") Крем для ног
                            span "Lobarel"
                    .slider-podoidut-rating(data-rating="5" readonly="readonly")
                    .slider-podoidut-price-pay
                        .slider-podoidut-price 399 ₽
                        .slider-podoidut-pay
                            +icon('basket')
                .poroidut-slider-item
                    .poroidut-slider-item--link
                        a(href="/")
                            .img-slider-podoidut(style="background-image: url('static/img/general/search/product1.png')")
                        .poroidut-slider-item--favoirite
                            +icon('favourite')
                        a.poroidut-slider-item--name(href="/") Крем для ног
                            span "Lobarel"
                    .slider-podoidut-rating(data-rating="5" readonly="readonly")
                    .slider-podoidut-price-pay
                        .slider-podoidut-price 399 ₽
                        .slider-podoidut-pay
                            +icon('basket')
                .poroidut-slider-item
                    .poroidut-slider-item--link
                        a(href="/")
                            .img-slider-podoidut(style="background-image: url('static/img/general/search/product1.png')")
                        .poroidut-slider-item--favoirite
                            +icon('favourite')
                        a.poroidut-slider-item--name(href="/") Крем для ног
                            span "Lobarel"
                    .slider-podoidut-rating(data-rating="5" readonly="readonly")
                    .slider-podoidut-price-pay
                        .slider-podoidut-price 399 ₽
                        .slider-podoidut-pay
                            +icon('basket')
            .js-controls-arrows--mobile
                .js-slider-podoidut--prev.podhodit-arrows
                    +icon('arrow-prev')
                .js-podoidut-z-slider-dots--wrap
                .js-slider-podoidut--next.podhodit-arrows
                    +icon('arrow-next')

section.test-form-submit
    .container
        button.harmonika-button-pinkblack.test-form-submit-button.w-370(type="submit") заказать индивидуальный крем
