section.advantages
    .container.p-0
        h3.section-title.white-section-title Наши приемущества
        .advantages-list.row
            .col-lg-3.col-md-6.col-sm-6.p-22-5.advantages-item-wrap
                .advantages-item
                    +icon('flower-tab')
                    p.advantages-text Только натуральные ингредиенты
            .col-lg-3.col-md-6.col-sm-6.p-22-5.advantages-item-wrap
                .advantages-item
                    +icon('clock_1_1_')
                    p.advantages-text Быстрый эффект от крема
            .col-lg-3.col-md-6.col-sm-6.p-22-5.advantages-item-wrap
                .advantages-item
                    +icon('cream_1')
                    p.advantages-text Возможность создать свой крем
            .col-lg-3.col-md-6.col-sm-6.p-22-5.advantages-item-wrap
                .advantages-item
                    +icon('medal_1')
                    p.advantages-text Высокое качество продукта
            .col-lg-3.col-md-6.col-sm-6.p-22-5.advantages-item-wrap
                .advantages-item
                    +icon('money_1_1_')
                    p.advantages-text Выгодная цена и постоянные скидки
            .col-lg-3.col-md-6.col-sm-6.p-22-5.advantages-item-wrap
                .advantages-item
                    +icon('shipped_1')
                    p.advantages-text Доставка по России и СНГ
            .col-lg-3.col-md-6.col-sm-6.p-22-5.advantages-item-wrap
                .advantages-item
                    +icon('policy_1')
                    p.advantages-text Сертифицированный продукт
            .col-lg-3.col-md-6.col-sm-6.p-22-5.advantages-item-wrap
                .advantages-item
                    +icon('life-insurance_1')
                    p.advantages-text Гарантия качества всех продуктов