section.choise-cream
    .container
        .choise-cream-wrap
            h3.section-title Выберите крем
            p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit at magna porta senectus ultrices dictum.
            .choise-cream-girl
                .choise-cream-container
                    .choise-cream-girl-svg.choise-cream-container
                    .choise-cream-container.choise-data-tab.choise-leg(data-svg-mask="leg" data-toggle="modal" data-target="#modal-popup-leg")
                    .choise-cream-container.choise-data-tab.choise-leg2(data-svg-mask="leg" data-toggle="modal" data-target="#modal-popup-leg")
                    .choise-cream-container.choise-data-tab.choise-hand(data-svg-mask="hand" data-toggle="modal" data-target="#modal-popup-hand")
                    .choise-cream-container.choise-data-tab.choise-face(data-svg-mask="face" data-toggle="modal" data-target="#modal-popup-face")
                    .choise-cream-container.choise-data-tab.choise-hair(data-svg-mask="hair" data-toggle="modal" data-target="#modal-popup-hair")
                    .choise-cream-container.choise-data-tab.choise-body(data-svg-mask="body" data-toggle="modal" data-target="#modal-popup-body")
                    .choise-cream-girl-menu--wrap
                        ul.choise-cream-girl-menu--list.choise-hail-list.hair
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('suh')
                                span.choise-cream-girl-menu--name Сухая
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('jir')
                                span.choise-cream-girl-menu--name Жирная кожа
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('facee')
                                span.choise-cream-girl-menu--name Нормальная кожа
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('hair-re')
                                span.choise-cream-girl-menu--name Проблемная кожа
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('facial-tre')
                                span.choise-cream-girl-menu--name Чувствительная кожа

                        ul.choise-cream-girl-menu--list.choise-body-list.body
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('suh')
                                span.choise-cream-girl-menu--name Сухая
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('jir')
                                span.choise-cream-girl-menu--name Жирная кожа
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('facee')
                                span.choise-cream-girl-menu--name Нормальная кожа
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('hair-re')
                                span.choise-cream-girl-menu--name Проблемная кожа
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('facial-tre')
                                span.choise-cream-girl-menu--name Чувствительная кожа

                        ul.choise-cream-girl-menu--list.choise-face-list.face
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('suh')
                                span.choise-cream-girl-menu--name Сухая
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('jir')
                                span.choise-cream-girl-menu--name Жирная кожа
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('facee')
                                span.choise-cream-girl-menu--name Нормальная кожа
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('hair-re')
                                span.choise-cream-girl-menu--name Проблемная кожа
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('facial-tre')
                                span.choise-cream-girl-menu--name Чувствительная кожа

                        ul.choise-cream-girl-menu--list.choise-hand-list.hand
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('suh')
                                span.choise-cream-girl-menu--name Сухая
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('jir')
                                span.choise-cream-girl-menu--name Жирная кожа
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('facee')
                                span.choise-cream-girl-menu--name Нормальная кожа
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('hair-re')
                                span.choise-cream-girl-menu--name Проблемная кожа
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('facial-tre')
                                span.choise-cream-girl-menu--name Чувствительная кожа

                        ul.choise-cream-girl-menu--list.choise-leg-list.leg
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('suh')
                                span.choise-cream-girl-menu--name Сухая
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('jir')
                                span.choise-cream-girl-menu--name Жирная кожа
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('facee')
                                span.choise-cream-girl-menu--name Нормальная кожа
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('hair-re')
                                span.choise-cream-girl-menu--name Проблемная кожа
                            a.choise-cream-girl-menu--link(href="/")
                                .choise-cream-girl-menu--icon--wrap
                                    .choise-cream-girl-menu--icon
                                        +icon('facial-tre')
                                span.choise-cream-girl-menu--name Чувствительная кожа

                .choise-cream-modal
                    .choise-cream-modal-flower
                        +icon('logo')
                        p.choise-cream-modal-text Наведите на интересующую часть тела, для просмотра категорий продукции
                        .harmonika-button-pinkblack.button-170w.m-0-auto Понятно
            .harmonika-buttons
                a.harmonika-button-gray.button-270w.mrh-30(href="/") Тест на тип кожи
                a.harmonika-button-pinkblack.button-270w(href="/") индивидуальный крем

