section.reviews#yakor-reviews
    .container
        h3.section-title Отзывы наших покупателей
        .reviews-container
            .reviews-slider--wrapper
                .reviews-slider
                    .reviews-slider--img(style="background-image: url('static/img/general/slider/img1.png')")
                    .reviews-slider--img(style="background-image: url('static/img/general/slider/img2.jpg')")
                    .reviews-slider--img(style="background-image: url('static/img/general/slider/img1.png')")
                    .reviews-slider--img(style="background-image: url('static/img/general/slider/img2.jpg')")
                .reviews-cav
                    +icon('kov')
                .reviws-controls
                    .reviews-arrows
                        .review-slider--prev.arrow-rew-slider
                            +icon('arrow-prev')
                        .review-slider-dots--wrap
                        .review-slider--next.arrow-rew-slider
                            +icon('arrow-next')
            .reviews-slider-comment--wrap
                .reviews-slider-comment
                    .reviews-slider-comment--info
                        .reviews-slider-comment-name-rating
                            .reviews-slider-comment-name Маргарита Ивановна
                            .reviews-slider-comment-rating(data-rating="5" readonly="readonly")
                        p.review-comment-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fames scelerisque placerat faucibus tincidunt integer non. A, in cras nibh velit, turpis elementum. Nulla suspendisse enim dolor placerat. Mi, sodales dui habitant mi morbi arcu maecenas lectus at. Bibendum eget nulla urna sed feugiat eleifend dignissim mattis. Sed ipsum risus tortor, consequat vitae, lorem. Consequat tortor, viverra fermentum, a tristique sed orci. Nec hac laoreet platea integer pharetra eget. Est cursus morbi vulputate enim. Etiam pulvinar tortor, mauris nisl, feugiat facilisi magna. Dictum eget malesuada pellentesque ut aliquet. Dui volutpat scelerisque lectus sit.
                    .reviews-slider-comment--info
                        .reviews-slider-comment-name-rating
                            .reviews-slider-comment-name Татьяна Ивановна
                            .reviews-slider-comment-rating(data-rating="5" readonly="readonly")
                        p.review-comment-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fames scelerisque placerat faucibus tincidunt integer non. A, in cras nibh velit, turpis elementum. Nulla suspendisse enim dolor placerat. Mi, sodales dui habitant mi morbi arcu maecenas lectus at. Bibendum eget nulla urna sed feugiat eleifend dignissim mattis. Sed ipsum risus tortor, consequat vitae, lorem. Consequat tortor, viverra fermentum, a tristique sed orci. Nec hac laoreet platea integer pharetra eget. Est cursus morbi vulputate enim. Etiam pulvinar tortor, mauris nisl, feugiat facilisi magna. Dictum eget malesuada pellentesque ut aliquet. Dui volutpat scelerisque lectus sit.
                    .reviews-slider-comment--info
                        .reviews-slider-comment-name-rating
                            .reviews-slider-comment-name Анастасия Ивановна
                            .reviews-slider-comment-rating(data-rating="5" readonly="readonly")
                        p.review-comment-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fames scelerisque placerat faucibus tincidunt integer non. A, in cras nibh velit, turpis elementum. Nulla suspendisse enim dolor placerat. Mi, sodales dui habitant mi morbi arcu maecenas lectus at. Bibendum eget nulla urna sed feugiat eleifend dignissim mattis. Sed ipsum risus tortor, consequat vitae, lorem. Consequat tortor, viverra fermentum, a tristique sed orci. Nec hac laoreet platea integer pharetra eget. Est cursus morbi vulputate enim. Etiam pulvinar tortor, mauris nisl, feugiat facilisi magna. Dictum eget malesuada pellentesque ut aliquet. Dui volutpat scelerisque lectus sit.
                    .reviews-slider-comment--info
                        .reviews-slider-comment-name-rating
                            .reviews-slider-comment-name Оксана Ивановна
                            .reviews-slider-comment-rating(data-rating="5" readonly="readonly")
                        p.review-comment-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fames scelerisque placerat faucibus tincidunt integer non. A, in cras nibh velit, turpis elementum. Nulla suspendisse enim dolor placerat. Mi, sodales dui habitant mi morbi arcu maecenas lectus at. Bibendum eget nulla urna sed feugiat eleifend dignissim mattis. Sed ipsum risus tortor, consequat vitae, lorem. Consequat tortor, viverra fermentum, a tristique sed orci. Nec hac laoreet platea integer pharetra eget. Est cursus morbi vulputate enim. Etiam pulvinar tortor, mauris nisl, feugiat facilisi magna. Dictum eget malesuada pellentesque ut aliquet. Dui volutpat scelerisque lectus sit.
        .harmonika-button-pinkblack.lobarel-added-review.m-0-auto(data-toggle="modal" data-target="#add-review-modal-non-reg") Оставить отзыв
