section.lobarel-baner(style="background-image: url('static/img/general/section1.png')")
    .container
        .lobarel-baner-content.col-lg-6
            .lobarel-double-white-bg
                +icon('logo')
                h3.lobarel-baner-title 2 упаковки по 259 ₽
                p.lobarel-baner-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit at magna porta senectus ultrices dictum. Suspendisse nam accumsan auctor condimentum dui quis.
                .harmonika-button-pinkblack.w-170.m-0-auto Купить