section.cream-compare2.scroller-horizontal.vs-cream#scroll2
    .cream-compare-wrapper2.box-wrap
        .cream-compare-absolute2
            .cream-compare-sticky2
                .cream-compare-relative2
                    .vs-cream-hover-content VS
                        p.vs-cream-hover Давайте сравним наш крем и крем любого известного производите. Стоимость примерно одинаковая, но эффект от применения совершенно различный. Давайте рассмотрим в деталях:
                    .cream-compare-left.col-lg-6
                        h3.title-section.title-left Компания Lobarel
                        ul.cream-compare-circule-icons-left
                            li.cream-compare-circule-icon
                                span $1 Упаковка
                                .cream-compare-circule-icon-left--wrap
                            li.cream-compare-circule-icon
                                span 1$ Сотрудники
                                .cream-compare-circule-icon-left--wrap
                            li.cream-compare-circule-icon
                                span 1$ Ингредиент
                                .cream-compare-circule-icon-left--wrap
                            li.cream-compare-circule-icon
                                span $2 Ингредиент
                                .cream-compare-circule-icon-left--wrap
                            li.cream-compare-circule-icon
                                span 2$ Ингредиент
                                .cream-compare-circule-icon-left--wrap
                            li.cream-compare-circule-icon
                                span $3 Ингредиент
                                .cream-compare-circule-icon-left--wrap
                            li.cream-compare-circule-icon
                                span $8 Сам крем
                                .cream-compare-circule-icon-left--wrap
                        .cream-compare-circule-title-and-text.cream-compare-circule-title-and-text-left
                            h3.title-section.title-left.cream-vs-mb-left  Стоимость самого крема: $8
                            p.title-section-text-left Вы платите 10$ за крем. При этом расходы производителя минимальны. Вы получите максимальный эффект и сохраните молодость кожи надолго!
                    .cream-compare-right.col-lg-6
                        h3.title-section.title-right Известная компания
                        ul.cream-compare-circule-icons-right
                            li.cream-compare-circule-icon
                                .cream-compare-circule-icon-right--wrap
                                span 3$ Бренд
                            li.cream-compare-circule-icon
                                .cream-compare-circule-icon-right--wrap
                                span $1 Реклама
                            li.cream-compare-circule-icon
                                .cream-compare-circule-icon-right--wrap
                                span $2 Дистребьютер
                            li.cream-compare-circule-icon
                                .cream-compare-circule-icon-right--wrap
                                span $2 Упаковка
                            li.cream-compare-circule-icon
                                .cream-compare-circule-icon-right--wrap
                                span $1 Сотрудники
                            li.cream-compare-circule-icon
                                .cream-compare-circule-icon-right--wrap
                                span 1$ Ингредиент
                            li.cream-compare-circule-icon
                                .cream-compare-circule-icon-right--wrap
                                span 1$ Сам крем
                        .cream-compare-circule-title-and-text.cream-compare-circule-title-and-text-right
                            h3.title-section.title-right.cream-vs-mb-right Стоимость самого крема: $1
                            p.title-section-text-right Вы покупаете крем за 10$ и хотите получить максимальный эффект. Эффект будет, но не для Вас! Вы оплатите расходы производителя, а эффект будет минимальным!
                    .cream-compare-circule.vs-cream-compare-circule
                        .cream-compare-circule-img--wrap
                            .cream-compare-circule-img-vs
