section.about-us-cream#yakor-about-us
    .container
        .about-us--wrapper
            .about-us-block
                .about-us-block--info.col-lg-5.col-md-6.col-sm-12
                    h3.about-us-title Кто мы такие?
                    p.about-us-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit at magna porta senectus ultrices dictum. Suspendisse nam accumsan auctor condimentum dui quis feugiat volutpat. Phasellus enim semper eu commodo integer tempus aliquam sed. Vitae volutpat placerat elit eget sagittis. Non diam velit elementum mollis neque, dui, sit mollis. Pellentesque sed vitae.
                .about-us-blocK--img.col-lg-5.col-md-6.col-sm-12(style="background-image:url('static/img/content/pic1.png')")
            .about-us-block
                .about-us-block--info.col-lg-5.col-md-6.col-sm-12
                    h3.about-us-title Кто мы такие?
                    p.about-us-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit at magna porta senectus ultrices dictum. Suspendisse nam accumsan auctor condimentum dui quis feugiat volutpat. Phasellus enim semper eu commodo integer tempus aliquam sed. Vitae volutpat placerat elit eget sagittis. Non diam velit elementum mollis neque, dui, sit mollis. Pellentesque sed vitae.
                    .about-us-buy
                        .harmonika-button-pinkblack.w-170 Купить
                        .about-us-buy-all Всего за #[span 299 ₽]
                .about-us-blocK--img.col-lg-5.col-md-6.col-sm-12(style="background-image:url('static/img/content/pic2.png')")
