section.insta-photos
    .container
        .insta-title-wrap
            +icon('instagram')
            h3.insta-title Insta Beauty
        p.section-text.insta-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit at magna porta senectus ultrices dictum. Suspendisse nam accumsan auctor condimentum dui quis feugiat volutpat. Phasellus enim semper eu commodo integer tempus aliquam sed.
        .insta-photos--content.row
            .insta-photo--item.col-xl-3.col-lg-4.col-md-6.col-sm-6(style="background-image: url('static/img/general/insta/img1.png')")
            .insta-photo--item.col-xl-3.col-lg-4.col-md-6.col-sm-6(style="background-image: url('static/img/general/insta/img2.png')")
            .insta-photo--item.col-xl-3.col-lg-4.col-md-6.col-sm-6(style="background-image: url('static/img/general/insta/img3.png')")
            .insta-photo--item.col-xl-3.col-lg-4.col-md-6.col-sm-6(style="background-image: url('static/img/general/insta/img4.png')")
        a.subscribe-insta(href="/") Подпишитесь на нас inst: lobarel
