section.after-before#yakor-effect
    .container
        .after-before-wrapper
            h3.section-title Эффект от нашего крема
            p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit at magna porta senectus ultrices dictum. Suspendisse nam accumsan auctor condimentum dui quis feugiat volutpat. Phasellus enim semper eu commodo integer tempus aliquam sed.
            .after-before-names
                .after-name-jax До
                .before-name-jax После
            .after-before-img--wrapper.juxtapose(data-startingposition="50%" data-showlabels="true" data-showcredits="true" data-animate="true")
                img.after-before__img(alt="До" src="/static/img/general/slider/before.png")
                img.after-before__img(alt="После" src="/static/img/general/slider/after.png")