section.vam-popdoidut.mt-5.mb-5
    .container
        .js-controls-and-title.col-lg-11
            h3.slider-title С этим товаром так же покупают
            .js-controls-arrows
                .js-slider-podoidut--prev2.podhodit-arrows
                    +icon('arrow-prev')
                .js-slider-podoidut--next2.podhodit-arrows
                    +icon('arrow-next')
        .js-slider-podoidut
            .js-slider-podoidut-z2
                .poroidut-slider-item
                    .poroidut-slider-item--link
                        a(href="/")
                            .img-slider-podoidut(style="background-image: url('static/img/general/search/product1.png')")
                        .poroidut-slider-item--favoirite
                            +icon('favourite')
                        a.poroidut-slider-item--name(href="/") Крем для ног
                            span "Lobarel"
                    .slider-podoidut-rating(data-rating="5" readonly="readonly")
                    .slider-podoidut-price-pay
                        .slider-podoidut-price 399 ₽
                        .slider-podoidut-pay
                            +icon('basket')
                .poroidut-slider-item
                    .poroidut-slider-item--link
                        a(href="/")
                            .img-slider-podoidut(style="background-image: url('static/img/general/search/product1.png')")
                        .poroidut-slider-item--favoirite
                            +icon('favourite')
                        a.poroidut-slider-item--name(href="/") Крем для ног
                            span "Lobarel"
                    .slider-podoidut-rating(data-rating="5" readonly="readonly")
                    .slider-podoidut-price-pay
                        .slider-podoidut-price 399 ₽
                        .slider-podoidut-pay
                            +icon('basket')
                .poroidut-slider-item
                    .poroidut-slider-item--link
                        a(href="/")
                            .img-slider-podoidut(style="background-image: url('static/img/general/search/product1.png')")
                        .poroidut-slider-item--favoirite
                            +icon('favourite')
                        a.poroidut-slider-item--name(href="/") Крем для ног
                            span "Lobarel"
                    .slider-podoidut-rating(data-rating="5" readonly="readonly")
                    .slider-podoidut-price-pay
                        .slider-podoidut-price 399 ₽
                        .slider-podoidut-pay
                            +icon('basket')
                .poroidut-slider-item
                    .poroidut-slider-item--link
                        a(href="/")
                            .img-slider-podoidut(style="background-image: url('static/img/general/search/product1.png')")
                        .poroidut-slider-item--favoirite
                            +icon('favourite')
                        a.poroidut-slider-item--name(href="/") Крем для ног
                            span "Lobarel"
                    .slider-podoidut-rating(data-rating="5" readonly="readonly")
                    .slider-podoidut-price-pay
                        .slider-podoidut-price 399 ₽
                        .slider-podoidut-pay
                            +icon('basket')
                .poroidut-slider-item
                    .poroidut-slider-item--link
                        a(href="/")
                            .img-slider-podoidut(style="background-image: url('static/img/general/search/product1.png')")
                        .poroidut-slider-item--favoirite
                            +icon('favourite')
                        a.poroidut-slider-item--name(href="/") Крем для ног
                            span "Lobarel"
                    .slider-podoidut-rating(data-rating="5" readonly="readonly")
                    .slider-podoidut-price-pay
                        .slider-podoidut-price 399 ₽
                        .slider-podoidut-pay
                            +icon('basket')

            .js-controls-arrows--mobile
                .js-slider-podoidut--prev2.podhodit-arrows
                    +icon('arrow-prev')
                .js-podoidut-z2-slider-dots--wrap
                .js-slider-podoidut--next2.podhodit-arrows
                    +icon('arrow-next')