section.lobarel-cream#yakor-pay
    .container
        h3.section-title.mb-5 Крем “Lobarel”
        .lobarel-cream-wrapper
            ul.lobarel-cream-tabs
                li.lobarel-cream-tab.active(data-lobarel-tab="tab-1") Описание
                li.lobarel-cream-tab(data-lobarel-tab="tab-2") Характеристики
                li.lobarel-cream-tab(data-lobarel-tab="tab-3") Показания к применению
                li.lobarel-cream-tab(data-lobarel-tab="tab-4") Полезные свойства
                li.lobarel-cream-tab(data-lobarel-tab="tab-5") Советы
            .lobarel-cream-content
                .lobarel-cream-info.tab-1.active
                    .col-lg-8
                        h3.lobarel-tab-title Крем “Lobarel”
                        p.lobarel-tab-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas et, suspendisse lacus. Arcu nunc, id hac sit ultricies tortor quis amet. Quisque venenatis mauris sed amet augue quisque massa ac in. Vulputate quis commodo mus pellentesque eget pulvinar sed. Senectus sed eget ullamcorper lobortis nisl mauris consequat. Sollicitudin diam pellentesque non id sed. At sit sit consequat aliquam proin pulvinar non amet feugiat. Tristique odio iaculis quisque mauris rhoncus magna integer aliquam sed. Volutpat gravida morbi dui condimentum in turpis volutpat erat. Morbi neque, tempus pellentesque fermentum morbi mi sed scelerisque tristique. Posuere velit ipsum dui scelerisque nulla.
                        p.lobarel-tab-text Mattis turpis in tellus odio et sed ultrices elementum. At aliquet volutpat aliquam hendrerit nunc tincidunt egestas. Vitae vitae non elementum purus volutpat eu.
                        .lobarel-cream-info-buy
                            .harmonika-button-pinkblack.w-170 Купить
                            .about-us-buy-all Всего за #[span 299 ₽]
                    .col-lg-4
                        .lobarel-cream-tab--img(style="background-image: url('static/img/general/kokos.png')")
                .lobarel-cream-info.tab-2
                    .col-lg-12
                        h3.lobarel-tab-title Характеристики
                        .lobarer-tab-characteristics
                            ol.lobarer-tab-characteristics--list
                                li.lobarer-tab-characteristics--item
                                    .lobarer-tab-characteristics--item--wrap
                                        span.lobarer-tab-characteristics--item__name Тип
                                    span.lobarer-tab-characteristics--item__count Крем для ухода за кожей
                                li.lobarer-tab-characteristics--item
                                    .lobarer-tab-characteristics--item--wrap
                                        span.lobarer-tab-characteristics--item__name Объем, мл
                                    span.lobarer-tab-characteristics--item__count 200
                                li.lobarer-tab-characteristics--item
                                    .lobarer-tab-characteristics--item--wrap
                                        span.lobarer-tab-characteristics--item__name Применение
                                    span.lobarer-tab-characteristics--item__count Дневной уход
                                li.lobarer-tab-characteristics--item
                                    .lobarer-tab-characteristics--item--wrap
                                        span.lobarer-tab-characteristics--item__name Тип кожи
                                    span.lobarer-tab-characteristics--item__count Для всех типов кожи
                                li.lobarer-tab-characteristics--item
                                    .lobarer-tab-characteristics--item--wrap
                                        span.lobarer-tab-characteristics--item__name Возрастной диапазон
                                    span.lobarer-tab-characteristics--item__count от 20
                                li.lobarer-tab-characteristics--item
                                    .lobarer-tab-characteristics--item--wrap
                                        span.lobarer-tab-characteristics--item__name Тип кожи
                                    span.lobarer-tab-characteristics--item__count Для всех типов кожи
                                li.lobarer-tab-characteristics--item
                                    .lobarer-tab-characteristics--item--wrap
                                        span.lobarer-tab-characteristics--item__name Возрастной диапазон
                                    span.lobarer-tab-characteristics--item__count от 20
                                li.lobarer-tab-characteristics--item
                                    .lobarer-tab-characteristics--item--wrap
                                        span.lobarer-tab-characteristics--item__name Эффект от использования
                                    span.lobarer-tab-characteristics--item__count Питание
                                li.lobarer-tab-characteristics--item
                                    .lobarer-tab-characteristics--item--wrap
                                        span.lobarer-tab-characteristics--item__name Область использования
                                    span.lobarer-tab-characteristics--item__count Руки
                                li.lobarer-tab-characteristics--item
                                    .lobarer-tab-characteristics--item--wrap
                                        span.lobarer-tab-characteristics--item__name Способ применения
                                    span.lobarer-tab-characteristics--item__count Нанесите крем на чистую кожу рук, мягко вотрите до полного впитывания
                                li.lobarer-tab-characteristics--item
                                    .lobarer-tab-characteristics--item--wrap
                                        span.lobarer-tab-characteristics--item__name Целевая аудитория
                                    span.lobarer-tab-characteristics--item__count Взрослая
                                li.lobarer-tab-characteristics--item
                                    .lobarer-tab-characteristics--item--wrap
                                        span.lobarer-tab-characteristics--item__name Размер упаковки
                                    span.lobarer-tab-characteristics--item__count 15 x 8 x 8 мм.
                                li.lobarer-tab-characteristics--item
                                    .lobarer-tab-characteristics--item--wrap
                                        span.lobarer-tab-characteristics--item__name Вес в упаковке, г
                                    span.lobarer-tab-characteristics--item__count 330 г.
                                li.lobarer-tab-characteristics--item
                                    .lobarer-tab-characteristics--item--wrap
                                        span.lobarer-tab-characteristics--item__name Пол
                                    span.lobarer-tab-characteristics--item__count Женский
                                li.lobarer-tab-characteristics--item
                                    .lobarer-tab-characteristics--item--wrap
                                        span.lobarer-tab-characteristics--item__name Страна-изготовитель
                                    span.lobarer-tab-characteristics--item__count Россия

                .lobarel-cream-info.tab-3
                    .col-lg-7
                        h3.lobarel-tab-title Показания к применению
                        p.lobarel-tab-text #[span При сухости кожи:] dolor sit amet, consectetur adipiscing elit. Dictum libero pretium sed lectus. Lectus sed blandit adipiscing malesuada mattis mi. In urna, duis consequat tincidunt mattis. Vulputate tristique urna viverra vitae, luctus rutrum. Ultricies tincidunt dui ipsum malesuada magna tempus.
                        p.lobarel-tab-text #[span При чувствительной коже:] dolor sit amet, consectetur adipiscing elit. Dictum libero pretium sed lectus. Lectus sed blandit adipiscing malesuada mattis mi. In urna, duis consequat tincidunt mattis.
                        p.lobarel-tab-text #[span При наличии раздпажения на коже:] dolor sit amet, consectetur adipiscing elit. Dictum libero pretium sed lectus. Lectus sed blandit adipiscing malesuada mattis mi. In urna, duis consequat tincidunt mattis. Vulputate tristique urna viverra vitae, luctus rutrum. Ultricies tincidunt dui ipsum malesuada magna tempus.
                    .col-lg-5
                        .lobarel-cream-tab--img.lobarel-cream-svoistva(style="background-image: url('static/img/general/img-2.png')")

                .lobarel-cream-info.tab-4
                    .col-lg-7
                        h3.lobarel-tab-title Полезные свойства
                        p.lobarel-tab-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictum libero pretium sed lectus. Lectus sed blandit adipiscing malesuada mattis mi. In urna, duis consequat tincidunt mattis. Vulputate tristique urna viverra vitae, luctus rutrum. Ultricies tincidunt dui ipsum malesuada magna tempus. Quis nibh turpis diam tincidunt quis in. Interdum auctor tincidunt et rhoncus velit. Id suspendisse faucibus amet nisi, ultrices fringilla arcu aliquam condimentum. Vitae nisi mi nec risus libero, magna laoreet aliquam faucibus. Eu viverra sit volutpat velit. Amet risus at ipsum lobortis mi lectus est facilisi. Ipsum rhoncus, metus tortor mi posuere ac donec laoreet pellentesque. Lectus id et, quam porta. Iaculis malesuada ornare suscipit sem imperdiet elit adipiscing. In vel sodales quis senectus convallis justo, et rhoncus orci. Turpis ridiculus pellentesque tincidunt hendrerit ullamcorper at. Nulla consequat ultrices ipsum ac est sollicitudin accumsan.
                        p.lobarel-tab-text Purus, sed sem at quam et adipiscing aliquam leo. Pretium eleifend viverra ut sed. Malesuada nullam elit nisl dictum amet, semper. Donec interdum lacinia varius ante. Nisl placerat aliquet morbi aliquam viverra. Diam aliquet.
                    .col-lg-5
                        .lobarel-cream-tab--img.lobarel-cream-svoistva(style="background-image: url('static/img/general/aloe.png')")
                .lobarel-cream-info.tab-5
                    .col-lg-12
                        h3.lobarel-tab-title.mb-5 Полезные советы
                        .soveti-lobarel-list.row
                            .soveti-lobarel-item.col-xl-3.col-lg-6.col-md-6.col-sm-12
                                +icon('olive')
                                span.soveti-count-1 1
                                h3.soveti-title Полезный совет
                                p.soveti-tab-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictum libero pretium sed lectus. Lectus sed blandit.
                            .soveti-lobarel-item.col-xl-3.col-lg-6.col-md-6.col-sm-12
                                +icon('olive')
                                span.soveti-count-2 2
                                h3.soveti-title Полезный совет
                                p.soveti-tab-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictum libero pretium sed lectus. Lectus sed blandit.
                            .soveti-lobarel-item.col-xl-3.col-lg-6.col-md-6.col-sm-12
                                +icon('olive')
                                span.soveti-count-3 3
                                h3.soveti-title Полезный совет
                                p.soveti-tab-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictum libero pretium sed lectus. Lectus sed blandit.
                            .soveti-lobarel-item.col-xl-3.col-lg-6.col-md-6.col-sm-12
                                +icon('olive')
                                span.soveti-count-4 4
                                h3.soveti-title Полезный совет
                                p.soveti-tab-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictum libero pretium sed lectus. Lectus sed blandit.

