section.why-choise#why-lobarel
    .container
        h3.section-title Почему выбирают нас?
        .why-choise-wrapper.col-lg-10.col-md-12.col-md-6
            .wall-choise
                .wall-cream
                .wall-pluw
                .wall-pluw2
            ul.why-choise-list
                li.why-choise-item
                    span.why-choise-item-num 01
                    span.why-choise-item-text Только натуральные ингредиенты
                li.why-choise-item
                    span.why-choise-item-num 02
                    span.why-choise-item-text Выгодные цены и постоянные скидки
                li.why-choise-item
                    span.why-choise-item-num 03
                    span.why-choise-item-text Быстрая доставка по всей России
                li.why-choise-item
                    span.why-choise-item-num 04
                    span.why-choise-item-text Сертифицированный товар, гарантия качества