section.main-product
    .container
        .product-main-wrapper
            .product-left
                .product-left--content-wrap
                    h3.product-left-title Экстракт жасмина
                    p.product-left-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venenatis vestibulum amet, dignissim diam faucibus tincidunt nisl, luctus. Quis amet feugiat ipsum habitant sed maecenas molestie morbi dignissim. Ac suspendisse.
                    .product-left-price 299 ₽
                ul.product-left-social
                    a.product-left-social-item(href="/")
                        +icon('facebook')
                    a.product-left-social-item(href="/")
                        +icon('instagram')
                    a.product-left-social-item(href="/")
                        +icon('twitter')
                    a.product-left-social-item(href="/")
                        +icon('whatsapp')
            .product-right
                .product-right-black
                    ul.product-right-menu-list
                        a.product-right-menu-item.topLink(href="#yakor-about-us") О нас
                            span
                        a.product-right-menu-item.topLink(href="#scroll") Состав
                            span
                        a.product-right-menu-item.topLink(href="#video-cream") Купить крем
                            span
                        a.product-right-menu-item.topLink(href="#yakor-effect") Эффект
                            span
                        a.product-right-menu-item.topLink(href="#yakor-pay") О креме
                            span
                .product-picture-bg
                    .product-picture-bg2(style="background-image: url('static/img/general/search/big1.png')")
                .product-right-white
                    .product-right-white--content
                        +icon('hands')
                        .product-right-white--info
                            .product-right-white--info__title Применение:
                            p.product-right-white--info-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu, aliquet quis purus in a. Nulla cursus integer turpis interdum. Urna.

section.main-product-mobile
    .main-product-mobile--wraper
        .main-product-mobile-top
            .container
                .main-product-mobile-top--wrap
                    h3.product-left-title Lobarel’
        .main-product-mobile-bottom
            .container
                .main-product-mobile-bottom--wrap
                    .product-picture-bg
                        .product-picture-bg2(style="background-image: url('static/img/general/search/big1.png')")
                    h3.product-left-title Экстракт жасмина
                    p.product-left-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venenatis vestibulum amet, dignissim diam faucibus tincidunt nisl, luctus. Quis amet feugiat ipsum habitant sed maecenas molestie morbi dignissim. Ac suspendisse.
                    .product-left-price 299 ₽
                    .harmonika-button-white-black Купить
                    a.harmonika-create-you(href="/") Сделать свой крем