section.cream-compare.scroller-horizontal#scroll
    .cream-compare-wrapper.box-wrap
        .cream-compare-absolute
            .cream-compare-sticky
                .cream-compare-relative
                    .cream-compare-left.col-lg-6
                        h3.title-section.title-left Компания Lobarel
                        ul.cream-compare-circule-icons-left
                            li.cream-compare-circule-icon
                                span Витамины А, С, Е, Р, РР, F, B масло
                                .cream-compare-circule-icon-left--wrap
                                    +icon('left_1')
                            li.cream-compare-circule-icon
                                span Лекарственные растения
                                .cream-compare-circule-icon-left--wrap
                                    +icon('left_2')
                            li.cream-compare-circule-icon
                                span Кокосовое масло
                                .cream-compare-circule-icon-left--wrap
                                    +icon('left_3')
                            li.cream-compare-circule-icon
                                span Гиалуроновая кислота
                                .cream-compare-circule-icon-left--wrap
                                    +icon('left_4')
                            li.cream-compare-circule-icon
                                span Растительные масла
                                .cream-compare-circule-icon-left--wrap
                                    +icon('left_5')
                            li.cream-compare-circule-icon
                                span Фруктовые кислоты
                                .cream-compare-circule-icon-left--wrap
                                    +icon('left_6')
                            li.cream-compare-circule-icon
                                span Растительные кислоты
                                .cream-compare-circule-icon-left--wrap
                                    +icon('left_7')
                            li.cream-compare-circule-icon
                                span Вода из источника
                                .cream-compare-circule-icon-left--wrap
                                    +icon('left_8')
                            li.cream-compare-circule-icon
                                span Ланолин
                                .cream-compare-circule-icon-left--wrap
                                    +icon('left_9')
                    .cream-compare-right.col-lg-6
                        h3.title-section.title-right Известная компания
                        ul.cream-compare-circule-icons-right
                            li.cream-compare-circule-icon
                                .cream-compare-circule-icon-right--wrap
                                    +icon('right_1')
                                span Пропиленгликоль
                            li.cream-compare-circule-icon
                                .cream-compare-circule-icon-right--wrap
                                    +icon('right_2')
                                span Формальдегид
                            li.cream-compare-circule-icon
                                .cream-compare-circule-icon-right--wrap
                                    +icon('right_3')
                                span Гидрохинон
                            li.cream-compare-circule-icon
                                .cream-compare-circule-icon-right--wrap
                                    +icon('right_4')
                                span Лаурилсульфат натрия
                            li.cream-compare-circule-icon
                                .cream-compare-circule-icon-right--wrap
                                    +icon('right_5')
                                span Парабен
                            li.cream-compare-circule-icon
                                .cream-compare-circule-icon-right--wrap
                                    +icon('right_6')
                                span Ацетат алюминия
                            li.cream-compare-circule-icon
                                .cream-compare-circule-icon-right--wrap
                                    +icon('right_7')
                                span Битионол
                            li.cream-compare-circule-icon
                                .cream-compare-circule-icon-right--wrap
                                    +icon('right_8')
                                span Триклозан
                            li.cream-compare-circule-icon
                                .cream-compare-circule-icon-right--wrap
                                    +icon('right_9')
                                span Дигидроксиацетон
                    .cream-compare-circule
                        .cream-compare-circule-img--wrap
                            .cream-compare-circule-img(style="background-image: url('static/img/general/search/big1.png')")






