section.review-slider#yakor-blog
    .container
        .review-slider-title
            h3.section-title Блог
            a.review-slider-all-review(href="/") Все статьи
        .review-slider-js--wrapper
            .review-slider-js
                .review-slider-item(style="background-image: url('static/img/general/rev1.png')")
                    a.review-slider-all-review(href="/") Все статьи
                    .review-slider-info
                        span.review-slider-info--categ Статьи
                        h3.review-slider--title 4 способа выжать максимум из крема с ретинолом
                        p.review-slider--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fames scelerisque placerat faucibus tincidunt integer non. A, in cras nibh velit, turpis elementum. Nulla suspendisse enim dolor placerat. Mi, sodales dui habitant mi morbi arcu maecenas lectus at. Bibendum eget nulla urna sed feugiat eleifend dignissim mattis. Sed ipsum risus tortor, consequat vitae.
                        a.review-slider--link(href="/") Подробнее
                .review-slider-item(style="background-image: url('static/img/general/section1.png')")
                    .review-slider-info
                        span.review-slider-info--categ Статьи
                        h3.review-slider--title 4 способа выжать максимум из крема с ретинолом
                        p.review-slider--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fames scelerisque placerat faucibus tincidunt integer non. A, in cras nibh velit, turpis elementum. Nulla suspendisse enim dolor placerat. Mi, sodales dui habitant mi morbi arcu maecenas lectus at. Bibendum eget nulla urna sed feugiat eleifend dignissim mattis. Sed ipsum risus tortor, consequat vitae.
                        a.review-slider--link(href="/") Подробнее
                .review-slider-item(style="background-image: url('static/img/general/rev1.png')")
                    .review-slider-info
                        span.review-slider-info--categ Статьи
                        h3.review-slider--title 4 способа выжать максимум из крема с ретинолом
                        p.review-slider--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fames scelerisque placerat faucibus tincidunt integer non. A, in cras nibh velit, turpis elementum. Nulla suspendisse enim dolor placerat. Mi, sodales dui habitant mi morbi arcu maecenas lectus at. Bibendum eget nulla urna sed feugiat eleifend dignissim mattis. Sed ipsum risus tortor, consequat vitae.
                        a.review-slider--link(href="/") Подробнее
                .review-slider-item(style="background-image: url('static/img/general/rev1.png')")
                    .review-slider-info
                        span.review-slider-info--categ Статьи
                        h3.review-slider--title 4 способа выжать максимум из крема с ретинолом
                        p.review-slider--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fames scelerisque placerat faucibus tincidunt integer non. A, in cras nibh velit, turpis elementum. Nulla suspendisse enim dolor placerat. Mi, sodales dui habitant mi morbi arcu maecenas lectus at. Bibendum eget nulla urna sed feugiat eleifend dignissim mattis. Sed ipsum risus tortor, consequat vitae.
                        a.review-slider--link(href="/") Подробнее
            .reviws-controls.review-slider-js--controls
                .reviews-arrows
                    .review-slider-js--prev.arrow-rew-slider
                        +icon('arrow-prev')
                    .review-slider-js-dots--wrap2
                    .review-slider-js--next.arrow-rew-slider
                        +icon('arrow-next')