section.index-video.index-video-mobile
    .container
        h3.section-title.video-title Видеообзоры крема “Floreritudos”
        .index-video-slider--wrapper--mobile
            .index-video-slider-mobile
                a.index-video-slider-item-mobile(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                    .index-video-slider-source-mobile(style="background-image: url('static/img/general/slider-img2.png')")
                    .icon-preload
                        +icon('played')
                a.index-video-slider-item-mobile(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                    .index-video-slider-source-mobile(style="background-image: url('static/img/general/slider-img.png')")
                    .icon-preload
                        +icon('played')
                a.index-video-slider-item-mobile(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                    .index-video-slider-source-mobile(style="background-image: url('static/img/general/slider-img2.png')")
                    .icon-preload
                        +icon('played')
                a.index-video-slider-item-mobile(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                    .index-video-slider-source-mobile(style="background-image: url('static/img/general/slider-img.png')")
                    .icon-preload
                        +icon('played')
                a.index-video-slider-item-mobile(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                    .index-video-slider-source-mobile(style="background-image: url('static/img/general/slider-img2.png')")
                    .icon-preload
                        +icon('played')
            .mobile-video-slider--arrows
                .mobile-video-slider--prev.mobile-video-arrow--all
                    +icon('arrow-prev')
                .mobile-video-dots--wrap
                .mobile-video-slider--next.mobile-video-arrow--all
                    +icon('arrow-next')

        .index-video-slider--wrapper
            .index-video-slider
                a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                    .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/slider-img2.png')")
                    .icon-preload
                        +icon('played')
                a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                    .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/slider-img.png')")
                    .icon-preload
                        +icon('played')
                a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                    .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/slider-img2.png')")
                    .icon-preload
                        +icon('played')
                a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                    .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/slider-img.png')")
                    .icon-preload
                        +icon('played')
                a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                    .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/slider-img2.png')")
                    .icon-preload
                        +icon('played')
            .index-video-slider-dots--wrap