section.video-cream#video-cream
    .container
        .video-cream--wrapper
            .video-cream-left.col-lg-6.col-md-12.col-sm-12
                h3.section-title Что ожидать от крема?
                p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit at magna porta senectus ultrices dictum. Suspendisse nam accumsan auctor condimentum dui quis feugiat volutpat. Phasellus enim semper eu commodo integer tempus aliquam sed. Vitae volutpat placerat elit eget sagittis. Non diam velit elementum mollis neque, dui, sit mollis. Pellentesque sed vitae.
                .harmonika-button-pinkblack.w-170 Купить
            .video-cream-right.col-lg-6.col-md-12.col-sm-12
                .video-cream-play
                    .video-cream-play-img
                    a.video-fancybox(data-fancybox href="https://www.youtube.com/watch?v=M24bhdgTuGA")
                        .video-fancybox--play__icon
                            +icon('played')
                        img.video-fancybox--img(src='static/img/general/video.png')
