section.type-skin(style="background-image: url('static/img/general/type-skin.png')")
    .container
        .type-skin-baner--content
            .col-lg-6.col-md-8.col-sm-3
                h3.type-skin-title А ты знаешь свой тип кожи?
                p.type-skin-text Комбинированная или сухая кожа? Нормальная, проблемная или чувствительная кожа? У каждого типа кожи свои особенности. Здесь ты найдешь всю необходимую информацию, которая поможет тебе определить свой тип кожи.
                .type-skin-buttons
                    .harmonika-button-pinkblack.w-200.mr-5 Подобрать крем
                    .harmonika-button-gray.type-white-button.w-200 ТЕст на тип кожи