section.type-skin-care
    .container
        .type-skin-care--content
            h3.section-title3 УХОД ЗА КОЖЕЙ ЗАВИСИТ ОТ ЕЕ ТИПА!
            p.section-text3 Чтобы подобрать средства по уходу за кожей, подходящие именно тебе, важно определить свой тип кожи. Иногда сделать это довольно сложно, поскольку кожа у всех разная, и с течением времени она меняется. Тем не менее, выделяют пять основных типов кожи. Определи свой тип кожи!
            .type-skin-care--items
                .type-skin-care--item
                    .type-skin-care--item__left.col-lg-4
                        .type-skin-care--item__img(style="background-image: url('static/img/general/type/type1.png')")
                        span T-зона нуждается в особом уходе
                    .type-skin-care--item__right.col-lg-8
                        .type-skin-care-title Тип кожи 1: комбинированная кожа
                        p.type-skin-care-text Как можно понять из названия, комбинированная кожа сочетает в себе два типа: нормальную или даже сухую кожу и проблемную кожу, склонную к жирности. Область лба, носа и подбородка — так называемая Т-зона — выглядит, как правило, блестящей и склонна к образованию прыщиков. А кожа на щеках, наоборот, нормальная или даже сухая. Для ухода за данным типом кожи следует выбирать те средства, разработанные специально для комбинированной кожи и восстанавливающие ее естественный водный баланс.
                        p.type-skin-care-atten Признаки: #[span.type-skin-care-atten-text жирный блеск; склонность к проблемам в T-зоне; более сухая кожа в зоне щек]
                        .harmonika-button-pinkblack.type-skin-care--right-button(data-toggle="modal" data-target="#modal-recommend") Рекомендации по уходу
                .type-skin-care--item
                    .type-skin-care--item__left.col-lg-4
                        .type-skin-care--item__img(style="background-image: url('static/img/general/type/type2.png')")

                    .type-skin-care--item__right.col-lg-8
                        .type-skin-care-title Тип кожи 2: сухая кожа
                        p.type-skin-care-text Твоя кожа выглядит неровной и шелушится? У сухой кожи нарушен водный и липидный, то есть жировой баланс. Такая кожа отличается низкой эластичностью, ощущением стянутости и склонностью к зуду. Она легко раздражается под воздействием внешних факторов. Поэтому особенно важно поддерживать водный баланс и защитные свойства твоей кожи с помощью кремов, разработанных специально для сухой кожи.
                        p.type-skin-care-atten Признаки: #[span.type-skin-care-atten-text стянутость, склонность к зуду; сухость и шелушение; кожа легко реагирует на воздействие внешних факторов, например температуры]
                        .harmonika-button-pinkblack.type-skin-care--right-button(data-toggle="modal" data-target="#modal-recommend") Рекомендации по уходу
                .type-skin-care--item
                    .type-skin-care--item__left.col-lg-4
                        .type-skin-care--item__img(style="background-image: url('static/img/general/type/type3.png')")
                        span Твоей коже требуется регулярный уход
                    .type-skin-care--item__right.col-lg-8
                        .type-skin-care-title Тип кожи 3: нормальная кожа
                        p.type-skin-care-text Если в зеркале ты видишь упругую гладкую кожу с узкими порами и здоровым цветом , значит ты — обладательница нормального типа кожи. Как правило, такая кожа не вызывает особых проблем, даже если иногда ты не можешь позаботиться о ней надлежащим образом. Однако даже нормальная кожа нуждается в увлажнении и защите, чтобы сохранять здоровый вид. Составь свой индивидуальный план ухода за кожей!
                        p.type-skin-care-atten Признаки: #[span.type-skin-care-atten-text гладкая, с узкими порами, без дефектов; здоровый цвет; хорошее кровообращение, эластичность]
                        .harmonika-button-pinkblack.type-skin-care--right-button Рекомендации по уходу

section.type-skin-care
    .container
        .type-skin-care--content
            h3.section-title3 КАК УХАЖИВАТЬ ЗА МОЕЙ КОЖЕЙ? ВСЕ ЗАВИСИТ ОТ ЕЕ ТИПА!
            p.section-text3 К каждому типу кожу требуется свой подход. Некоторым типам кожи требуется повышенное внимание и особый уход. Например, для проблемной и чувствительной кожи.
            .type-skin-care--items
                .type-skin-care--item
                    .type-skin-care--item__left.col-lg-4
                        .type-skin-care--item__img(style="background-image: url('static/img/general/type/type4.png')")
                        span Мягкая забота в трудные времена
                    .type-skin-care--item__right.col-lg-8
                        .type-skin-care-title Тип кожи 4: проблемная кожа
                        p.type-skin-care-text В проблемной коже усиленно вырабатывается кожное сало. Причиной этому может послужить генетическая предрасположенность, стресс и гормональные изменения. В результате появляются черные точки и прыщики. Восстановить естественный баланс кожи помогут специальные средства для очищения и ухода с антибактериальными компонентами.
                        p.type-skin-care-atten Признаки: #[span.type-skin-care-atten-text расширенные поры; жирный блеск; склонность к высыпаниям]
                        .harmonika-button-pinkblack.type-skin-care--right-button(data-toggle="modal" data-target="#modal-recommend") Рекомендации по уходу
                .type-skin-care--item
                    .type-skin-care--item__left.col-lg-4
                        .type-skin-care--item__img(style="background-image: url('static/img/general/type/type5.png')")
                        span Для чувствительной кожи крайне важен отдых!
                    .type-skin-care--item__right.col-lg-8
                        .type-skin-care-title Тип кожи 5: чувствительная кожа
                        p.type-skin-care-text Чувствительная кожа больше других типов подвержена воздействию окружающих факторов, таких как стрессы, сухой воздух в отапливаемых помещениях или ультрафиолетовое излучение. Если естественный баланс кожи нарушен, то появляются ощущение стянутости, зуд, сухость и покраснения. Поэтому для чувствительной кожи важно использовать особые, специально разработанные средства, успокаивающие кожу и укрепляющие ее защитный барьер, делая ее более устойчивой к воздействию внешних факторов.
                        p.type-skin-care-atten Признаки: #[span.type-skin-care-atten-text легко реагирует на воздействие окружающих факторов; ощущение стянутости, зуд; частые покраснения]
                        .harmonika-button-pinkblack.type-skin-care--right-button(data-toggle="modal" data-target="#modal-recommend") Рекомендации по уходу

section.type-skin-care
    .container
        .type-skin-care--content
            h3.section-title3 СОХРАНИ МОЛОДОСТЬ СВОЕЙ КОЖИ!
            p.section-text3 С возрастом потребности кожи меняются. На процесс старения влияет множество внутренних и внешних факторов, не в последнюю очередь скорость старения зависит и от активности клеток кожи. Однако при правильно подобранном уходе можно надолго сохранить молодость своей кожи.
            .type-skin-care--items
                .type-skin-care--item
                    .type-skin-care--item__left.col-lg-4
                        .type-skin-care--item__img(style="background-image: url('static/img/general/type/type6.png')")
                        span Зрелой коже нужна поддержка!
                    .type-skin-care--item__right.col-lg-8
                        .type-skin-care-title Тип кожи 6: зрелая кожа
                        p.type-skin-care-text С возрастом в нашей коже происходит целый ряд различных процессов, меняющих ее внешний вид, структуру и свойства. Снижается активность клеток, замедляется процесс регенерации, снижается уровень выработки коллагена, проявляются повреждения от воздействия ультрафиолетового излучения. Зрелая кожа теряет влагу и эластичность. Уменьшить количество и выраженность морщин и пигментных пятен помогут инновационные средства по уходу за зрелой кожей лица.
                        p.type-skin-care-atten Признаки: #[span.type-skin-care-atten-text менее эластичная; испытывает недостаток влаги; становятся заметными морщины и пигментные пятна]
                        .harmonika-button-pinkblack.type-skin-care--right-button(data-toggle="modal" data-target="#modal-recommend") Рекомендации по уходу

