section.my-room
    .container
        h3.section-title3.text-left ООО “Здоровье”
        .my-room-wrapper
            .my-room-left.col-lg-3
                .my-room-cabinet.order-white-box
                    h3.order-data-title.your-basket.your-basket--title Личный кабинет
                    ul.my-room-list
                        a.my-room-item(href="/") Профиль
                        a.my-room-item(href="/") Мои заказы
                        a.my-room-item(href="/") Активные заказы
                        a.my-room-item(href="/") Завершенные заказы
                        a.my-room-item(href="/") Подписки
                .my-room-exit Выйти
            .my-room-right.col-lg-9
                .my-room-tab-wrapper.orders-all.my-room-2
                    .my-room-cabinet.orders-all-mobile.order-white-box
                        h3.order-data-title Мои заказы
                        ul.order-mobile-list
                            li.order-mobile-item
                                .order-mobile-item-tab
                                    h3.order-mobile-title Заказ №4
                                    .order-mobile-more-wrap
                                        a(href="/") Подробнее
                                        .order-mobile-icon--wrap
                                            +icon('down-arrow')
                                .order-mobile-item-tab--info
                                    .order-mobile-item-content
                                        .order-mobile-item-content-name Сумма
                                        .order-mobile-item-content-info 699 ₽
                                    .order-mobile-item-content
                                        .order-mobile-item-content-name Дата:
                                        .order-mobile-item-content-info 03.03.2020
                                    .order-mobile-item-content
                                        .order-mobile-item-content-name Статус заказа:
                                        .order-mobile-item-content-info Доставка
                            li.order-mobile-item
                                .order-mobile-item-tab
                                    h3.order-mobile-title Заказ №3
                                    .order-mobile-more-wrap
                                        a(href="/") Подробнее
                                        .order-mobile-icon--wrap
                                            +icon('down-arrow')
                                .order-mobile-item-tab--info
                                    .order-mobile-item-content
                                        .order-mobile-item-content-name Сумма
                                        .order-mobile-item-content-info 699 ₽
                                    .order-mobile-item-content
                                        .order-mobile-item-content-name Дата:
                                        .order-mobile-item-content-info 03.03.2020
                                    .order-mobile-item-content
                                        .order-mobile-item-content-name Статус заказа:
                                        .order-mobile-item-content-info Доставка
                    .my-room-cabinet.orders-all-desktop.order-white-box
                        h3.order-data-title Мои заказы
                        table.my-room-order
                            thead
                                tr
                                    th № заказа
                                    th Дата
                                    th Сумма
                                    th Статус заказа
                                    th
                            tbody
                                tr
                                    td №3
                                    td 02.03.2020
                                    td 699 ₽
                                    td Доставка
                                    td
                                        a.my-room-table-more(href="/") Подробнее
                                tr
                                    td №2
                                    td 02.03.2020
                                    td 699 ₽
                                    td Доставлено
                                    td
                                        a.my-room-table-more(href="/") Подробнее
                                tr
                                    td №3
                                    td 02.03.2020
                                    td 699 ₽
                                    td Доставлено
                                    td
                                        a.my-room-table-more(href="/") Подробнее
