footer
  position relative
  flex 0 0 auto
  background-color #283037

  .container
    padding 0px

.footer-social
  text-align right

  a
    text-decoration none
    margin-right 40px

    &:last-child
      margin-right 0

  .icon
    size(20px)
    fill #fff

.footer-top
  display flex
  align-items center
  width 100%


.footer-top-wrap
  padding 50px 0
  border-bottom 1px solid rgba(255, 255, 255, 0.2)

.footer-contact
  display flex
  align-items center

  a
    font-family 'Merriweather Bold',sans-serif
    font-size 16px
    color #fff
    text-decoration none

    &:first-child
      margin-right 30px

    &:hover
      color #fff


.footer-logo
  text-align center

  .icon
    size(70px)
    fill #fff

.footer-bottom-list
  display flex
  align-items center
  justify-content space-between
  margin 0 auto
  padding 50px 0

  a
    font-family 'Roboto 400',sans-serif
    font-size 16px
    text-transform uppercase
    color rgba(255, 255, 255, 0.4)

.footer-copyright
  background-color #333A41
  padding 15px 0

.footer-copy-info
  text-align center
  font-family 'Roboto 400',sans-serif
  font-size 16px
  color rgba(255, 255, 255, 0.31)