.about-us-cream
  padding 60px 0
.about-us-block
  display flex
  align-items center
  justify-content space-between
  margin-bottom 50px

  &:last-child
    margin-bottom 0

  &:nth-child(2n)
    flex-flow row-reverse

.about-us-title
  font-family 'Merriweather Bold',sans-serif
  font-size 36px
  margin-bottom 30px
  color #283037
.about-us-text
  font-family 'Roboto 400',sans-serif
  font-size 15px
  color rgba(40, 48, 55, 0.6)

.about-us-blocK--img
  background-repeat no-repeat
  background-size contain
  width 100%
  height 230px

.about-us-buy
  display flex
  justify-content space-between
  align-items center
  margin-top 40px

.about-us-buy-all
  font-family 'Merriweather Bold',sans-serif
  font-size 20px
  color #283037

  span
    color #FAACA8
    font-size 22px
