.vs-cream

  .cream-compare-circule-icons-left,.cream-compare-circule-icons-right
    top 46%


  .title-left
    margin-right 55px
  .title-right
    margin-left 55px

  .cream-compare-circule-icon  span
    font-family 'Roboto 500',sans-serif

  .cream-compare-circule-icon-left--wrap
    size(18px)
    background-color #444E57
    box-shadow none

  .cream-compare-circule-icon-right--wrap
    size(18px)
    background-color #fff
    box-shadow none

  .cream-compare-circule
    background-color transparent
    top 45%

  .cream-compare-circule-icons-left .cream-compare-circule-icon,.cream-compare-circule-icons-right .cream-compare-circule-icon
    margin-bottom 15px

  .cream-compare-wrapper
    height 100%



  .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(1)
    margin-right 63px
  .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(2)
    margin-right 123px
  .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(3)
    margin-right 148px
  .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(4)
    margin-right 155px
  .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(5)
    margin-right 148px
  .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(6)
    margin-right 123px
  .cream-compare-circule-icons-left .cream-compare-circule-icon:nth-child(7)
    margin-right 63px


  .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(1)
    margin-left 63px
  .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(2)
    margin-left 123px
  .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(3)
    margin-left 148px
  .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(4)
    margin-left 155px
  .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(5)
    margin-left 148px
  .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(6)
    margin-left 123px
  .cream-compare-circule-icons-right .cream-compare-circule-icon:nth-child(7)
    margin-left 63px






.vs-cream-hover-content
  absolute-center()
  font-family 'Merriweather Bold',sans-serif
  font-size 24px
  color #283037
  background-color #fff
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index 2
  text-transform lowercase
  size(40px)
  display flex
  align-items center
  justify-content center
  top 45px

.vs-cream-hover
  absolute-center()
  text-transform initial
  top -200%
  font-family: 'Roboto 400',sans-serif
  font-size 16px
  color rgba(40, 48, 55, 0.6)
  padding 30px
  background-color #fff
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  width 680px
  display flex
  justify-content center
  align-items center
  z-index 10
  text-align center
  //display none


  &:before
    content ''
    clip-path: polygon(50% 75%, 0 0, 100% 0);
    background-color #fff
    absolute-center()
    size(16px)
    bottom -12px
    top: 104%;
.cream-compare-circule-img-vs
  position relative
  width: 300px;
  height: 300px;

  &:before
    content ''
    absolute-center()
    background-image url("/static/img/general/gray.png")
    background-repeat no-repeat
    background-size contain
    width: 350px
    height 350px
    z-index 2
    background-position center

  &:after
    content ''
    absolute-center()
    background-image url("/static/img/general/cream-vs.png")
    background-repeat no-repeat
    background-size contain
    width: 335px;
    height: 254.5px;
    z-index: 2;
    background-position: left -3.5px;

.title-section-text-right
  font-family 'Roboto 400',sans-serif
  font-size 14px
  color rgba(255, 255, 255, 0.6)
  text-align left
  width 100%
  max-width 500px
  padding-left 30px

.title-section-text-left
  font-family 'Roboto 400',sans-serif
  font-size 14px
  color rgba(40, 48, 55, 0.61)
  text-align right
  width 100%
  max-width 500px
  margin  0 0 0 auto
  padding-right 30px

.cream-vs-mb-right
  margin-bottom 5px !important
  margin-left 30px !important

.cream-vs-mb-left
  margin-right 30px !important
  margin-bottom 5px !important

.cream-compare-circule-title-and-text
  position absolute
  bottom 10px

.cream-compare-circule-title-and-text-left
  right 15px

.cream-compare-circule-title-and-text-right
  left 15px

.vs-cream-compare-circule
  size(330px)

  &:before
    size(330px)