.why-choise
  padding-bottom 120px

  .section-title
    margin-bottom 60px
.why-choise-wrapper
  margin 0 auto
.why-choise-wrapper
  display flex
.wall-choise
  position relative
  background-image url("/static/img/general/wall.png")
  background-repeat no-repeat
  background-size contain
  width 370px
  height 473px

.wall-cream
  position absolute
  background-image url("/static/img/general/crem.png")
  background-repeat no-repeat
  background-size contain
  width 370px
  height 100%

.wall-pluw
  position absolute
  background-image url("/static/img/general/pluw4.png")
  background-repeat no-repeat
  background-size contain
  width: 340px;
  height 100%
  z-index: 2;
  left: -32px;
  top: 50px;

.wall-pluw2
  position absolute
  background-image url("/static/img/general/pluw3.png")
  background-repeat no-repeat
  background-size contain
  width: 340px;
  height 100%
  z-index: 2;
  left: 0px;
  bottom: 36px;
  background-position: bottom;

.why-choise-item-num
  font-family 'Merriweather Bold',sans-serif
  font-size 60px
  color rgba(40, 48, 55, 0.11)
  line-height 75px
  margin-right 38px
  position relative
  display flex
  align-items center

  &:after
    content ''
    position absolute
    size(10px)
    background-color #FAACA8
    border-radius 50%
    box-shadow 0 0 0 3px rgba(250, 172, 168, 0.3)
    right -22px

.why-choise-item-text
  font-family 'Roboto 500',sans-serif
  font-size 18px
  color #283037

.why-choise-item
  display flex
  align-items center
  margin-bottom 58px

  &:nth-child(1)
    margin-left -75px

  &:nth-child(2)
    margin-left -45px

  &:nth-child(3)
    margin-left -15px

  &:nth-child(4)
    position relative
    right -20px

