.insta-photos
  padding 120px 0
  padding-bottom 60px

.insta-title-wrap
  display flex
  justify-content center
  align-items center
  margin-bottom 15px

  .icon
    size(46px)
    fill #FAACA8
    margin-right 20px

.insta-title
  font-family 'Merriweather Bold',sans-serif
  font-size 36px
  color #283037

.insta-text
  width 100%
  max-width 970px
  margin  0 auto
  margin-bottom 40px
.insta-photos--content
  justify-content space-between
  margin-bottom 40px
.insta-photo--item
  background-size contain
  background-repeat no-repeat
  width 100%
  height 270px

.subscribe-insta
  font-family 'Roboto 400',sans-serif
  font-size 18px
  color #FAACA8
  text-align center
  text-decoration none
  display block
  width max-content
  margin  0 auto

  &:hover
    color #FAACA8
    text-decoration none