section.my-favorit
    .container
        .my-favorit
            .my-favorit-left.col-lg-3
                img.my-favorit-baner(src="static/img/general/search/big1.png")
                .my-favorit-baner--name 2 упаковки по 259 ₽
                p.my-favorit--text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .harmonika-button-pinkblack.w-170.m-0-auto Купить
            .my-favorit-right.col-lg-9
                .lobarel-tab-title Мои желания
                .my-favorit-count-sort
                    span.my-favorit-count-sort-span 3 товара
                    .my-favorit-sort-wrap
                        span.my-favorit-sort-wrap-span Сортировать:
                        select.test
                            option(value="по названию") по названию
                            option(value="по убыванию") по убыванию
                            option(value="по цене") по цене
                .mobile--list-product.catalog-products-list.row
                    .col-xl-4.col-lg-6.col-md-6.col-sm-6
                        .poroidut-slider-item.my-favourite--item-product
                            .poroidut-slider-item--link
                                a(href="/")
                                    .img-slider-podoidut(style="background-image: url('static/img/general/search/product1.png')")
                            .mobile-price-rating-price
                                a.poroidut-slider-item--name(href="/") Крем для ног
                                    span "Lobarel"
                                .slider-podoidut-rating(data-rating="5" readonly="readonly")
                                .slider-podoidut-price-pay
                                    .slider-podoidut-price 399 ₽
                            .mobile-price-favourite-basket
                                .poroidut-slider-item--favoirite
                                    +icon('favourite')
                                .slider-podoidut-pay
                                    +icon('basket')
                    .col-xl-4.col-lg-6.col-md-6.col-sm-6
                        .poroidut-slider-item.my-favourite--item-product
                            .poroidut-slider-item--link
                                a(href="/")
                                    .img-slider-podoidut(style="background-image: url('static/img/general/search/product1.png')")
                            .mobile-price-rating-price
                                a.poroidut-slider-item--name(href="/") Крем для ног
                                    span "Lobarel"
                                .slider-podoidut-rating(data-rating="5" readonly="readonly")
                                .slider-podoidut-price-pay
                                    .slider-podoidut-price 399 ₽
                            .mobile-price-favourite-basket
                                .poroidut-slider-item--favoirite
                                    +icon('favourite')
                                .slider-podoidut-pay
                                    +icon('basket')
                .my-favorit--list-product.row
                    .col-xl-4.col-lg-6.col-md-6.col-sm-6
                        .poroidut-slider-item.my-favourite--item-product
                            .poroidut-slider-item--link
                                a(href="/")
                                    .img-slider-podoidut(style="background-image: url('static/img/general/search/product1.png')")
                                .poroidut-slider-item--favoirite
                                    +icon('favourite')
                                a.poroidut-slider-item--name(href="/") Крем для ног
                                    span "Lobarel"
                            .slider-podoidut-rating(data-rating="5" readonly="readonly")
                            .slider-podoidut-price-pay
                                .slider-podoidut-price 399 ₽
                                .slider-podoidut-pay
                                    +icon('basket')
                    .col-xl-4.col-lg-6.col-md-6.col-sm-6
                        .poroidut-slider-item.my-favourite--item-product
                            .poroidut-slider-item--link
                                a(href="/")
                                    .img-slider-podoidut(style="background-image: url('static/img/general/search/product1.png')")
                                .poroidut-slider-item--favoirite
                                    +icon('favourite')
                                a.poroidut-slider-item--name(href="/") Крем для ног
                                    span "Lobarel"
                            .slider-podoidut-rating(data-rating="5" readonly="readonly")
                            .slider-podoidut-price-pay
                                .slider-podoidut-price 399 ₽
                                .slider-podoidut-pay
                                    +icon('basket')
                    .col-xl-4.col-lg-6.col-md-6.col-sm-6
                        .poroidut-slider-item.my-favourite--item-product
                            .poroidut-slider-item--link
                                a(href="/")
                                    .img-slider-podoidut(style="background-image: url('static/img/general/search/product1.png')")
                                .poroidut-slider-item--favoirite
                                    +icon('favourite')
                                a.poroidut-slider-item--name(href="/") Крем для ног
                                    span "Lobarel"
                            .slider-podoidut-rating(data-rating="5" readonly="readonly")
                            .slider-podoidut-price-pay
                                .slider-podoidut-price 399 ₽
                                .slider-podoidut-pay
                                    +icon('basket')



